<div class="layout-container">
  <section [ngClass]="showBorders()"
    class="socialMediaFlexBox">
    <div [ngClass]="showBorders()" class="socialMediaCol">
      <social-media></social-media>
    </div>
    <div [ngClass]="showBorders()" class="bdr-red-500 flex-grow"></div>
  </section>
  <section [ngClass]="showBorders()" class="bdr-purple-500">
    <div [ngClass]="showBorders()" class="hero-text-container">
      <div [ngClass]="showBorders()" class="heroText">
        <span>
          Creating solutions to solve today's and tomorrow’s problems
          <span class="text-blue-500"><b>bit</b></span> by <span class="text-blue-500"><b>bit</b></span>.
        </span>
        <!-- <span [innerHTML]="heroContent"></span> -->
      </div>
      <div [ngClass]="showBorders()" class="knowMore">
        <img src="../../../../../assets/images/Arrow-Vector.png" alt="" srcset="">
        <bp-button title="Want to Learn More?" uiType="standardYellow" (onClick)="getCTA()" />

      </div>
    </div>
    <app-companies-we-keep [ngClass]="showBorders()" class="bdr-gray-500"
      [logosColor]="'var(--companies-logo-color)'"></app-companies-we-keep>
  </section>
</div>