<section [ngClass]="showBorders()" class="border-purple-500 h-full 8xsm:pt-20 7xsm:pt-10 5xsm:pt-20 4xsm:pt-20 sm:pt-10 md:pt-28 2md:pt-0 3md:pt-[12rem] xl:pt-[13rem] ipadpro:pt-[13rem] nesthub:pt-0 nesthubMax:pt-12 2xl:pt-0 3xl:pt-24 ">
  <div [ngClass]="showBorders()" class="border-blue-500 flex-grow flex flex-row m-5">
    <div [ngClass]="showBorders()" class="border-green-500 flex items-center justify-center 2xl:mt-0">
      <social-media [ngClass]="showBorders()" class="border-orange-500"></social-media>
    </div>
    <div [ngClass]="showBorders()" class="border-red-500 flex-grow">

    </div>
  </div>
  <div [ngClass]="showBorders()" class="border-purple-500 flex-grow text-center ml-4 mr-5 8xsm:pt-20 7xsm:pt-10 5xsm:pt-16 3xsm:pt-24 sm:pt-10 md:pt-28 2md:pt-[8rem] 3md:pt-[12rem] lg:pt-32 ipadpro:pt-32 nesthub:pt-0 nesthubMax:pt-16 2xl:pt-[2rem] 3xl:pt-28">
    <div class="font-verlag 8xsm:text-4xl 7xsm:text-4xl 6xsm:text-3xl 5xsm:text-4xl 4xsm:text-5xl 3xsm:text-5xl sm:text-4xl md:text-6xl lg:text-6xl 3md:text-7xl lg:text-7xl xl:text-8xl ipadpro:text-8xl nesthub:text-5xl nesthubMax:text-6xl 2xl:text-[3.25rem] 3xl:text-6xl">
      <span [innerHTML]="heroContent"></span>
    </div>
  </div>
</section>
