<div class="ctaForm">
  <h3 [ngStyle]="setThemeSecondaryColor()">Want to Learn more? {{ layout }}</h3>
  <form [formGroup]="ctaForm" (ngSubmit)="onCTASubmit()" novalidate>
    <input
      type="text"
      class="form-control name"
      formControlName="ctaName"
      placeholder="Name"
    />
    <input
      type="email"
      class="form-control email"
      formControlName="ctaEmail"
      placeholder="Email"
    />
    <button type="submit" class="standardYelloBtn">Connect with Us</button>
  </form>
</div>

<div class="grayOverlay" *ngIf="isConsentModal"></div>
<div class="ctaPopup" *ngIf="isConsentModal">
  <div class="popupHeader d-flex j-c-s-b">
    <div class="title">Call to Action!</div>
    <a href="" class="close">X</a>
  </div>
  <div class="popupBody">
    <h4>Please provide your Consent.</h4>
    <input id="consent" type="text" (change)="setConcent($event)" />
  </div>
  <div class="popupfooter">
    <button>Yes</button>
  </div>
</div>
