.form-row {
  margin-left: 15% ;
}

.description-height {
  height: 400px;
}
.business-radio {
  text-align: right;
}
.contact-button {
  width: 30%;
  background-color: white;
  border: solid 1px black;
  align-content: center;
  margin: 0 auto;
}

.project-description {
  width: 100%;
}

.mobile-row {
  margin-bottom: 10px;
}

.alert {
  margin-bottom: 0px !important;
}
