<main class="page">

  <header class="hero-fixed hero-home" id="hero"
          style="background: url('~src/assets/images/contactPage/contactPageSplashBackground.jpg') center no-repeat; background-size: cover;">
    <div class="video-overlay" style="display: none;"></div>
    <div class="home-hero-text-container">
      <div class="container fade-in-first">
        <div class="home-hero-text">Contact Byte Pushers team.
        </div>
      </div>
    </div>
    <a class="icon-down-open-big hero-arrow" pageScroll pageScrollOffset="80" href="#top-section">
      <img alt="caret " src="assets/images/caret.svg" style="width: 50px; height: 50px">
    </a>
  </header>

  <div class="main-content-container" style="margin-top: 750px;">
    <section class="personal-info">
      <div class="section-heading">Personal Information</div>
      <div class="section-subheading">Our philosophy and expertise<span class="br-mobile"></span> are best represented
        by<span class="br-mobile"></span> our labors of love.
      </div>
      <ng-form class="align-items-center">
        <div class="form-row inner-form-section">
          <div class="col-6">
            <div class="col">
              <label>First Name</label>
            </div>
            <div class="col-8">
              <input
                name="firstName"
                placeholder="First Name"
                type="text"
                minlength="2"
                class="form-control"
              >
            </div>
          </div>
          <div class="col-6">
            <div class="col">
              <label>Last Name</label>
            </div>
            <div class="col-8">
              <input
                name="lastName"
                placeholder="Last Name"
                class="form-control"
                type="text"
                minlength="2">
            </div>
          </div>
        </div>
        <div class="form-row inner-form-section">
          <div class="col-6">
            <div class="col">
              <label>Email</label>
            </div>
            <div class="col-8">
              <input
                name="email"
                placeholder="Email"
                type="text"
                minlength="2"
                class="form-control"
              >
            </div>
          </div>
          <div class="col-6">
            <div class="col">
              <label>Phone Number</label>
            </div>
            <div class="col-8">
              <input
                name="number"
                placeholder="Phone Number
"
                class="form-control"
                type="text"
                minlength="2">
            </div>
          </div>
        </div>
        <div class="form-row inner-form-section">
          <div class="col-6">
            <div class="col">
              <label>City</label>
            </div>
            <div class="col-8">
              <input
                name="firstName"
                placeholder="City"
                type="text"
                minlength="2"
                class="form-control"
              >
            </div>
          </div>
          <div class="col-6">
            <div class="col">
              <label>State</label>
            </div>
            <div class="col-8">
              <select
                      name="stateDropDownInputName"
                      class="custom-select" id="stateDropDownId"
                      required ngModel>
                <option value="" selected>Select A State</option>
                <option value="Alabama">Alabama</option>
                <option value="Alaska">Alaska</option>
                <option value="Arizona">Arizona</option>
                <option value="Arkansas">Arkansas</option>
                <option value="5">California</option>
                <option value="6">Colorado</option>
                <option value="7">Connecticut</option>
                <option value="8">Delaware</option>
                <option value="1">District Of Columbia</option>
                <option value="1">Florida</option>
                <option value="1">Georgia</option>
                <option value="1">Hawaii</option>
                <option value="1">Idaho</option>
                <option value="1">Illinois</option>
                <option value="1">Indiana</option>
                <option value="1">Iowa</option>
                <option value="1">Kansas</option>
                <option value="1">Kentucky</option>
                <option value="1">Louisiana</option>
                <option value="1">Maine</option>
                <option value="1">Maryland</option>
                <option value="1">Massachusetts</option>
                <option value="1">Michigan</option>
                <option value="1">Minnesota</option>
                <option value="1">Mississippi</option>
                <option value="1">Missouri</option>
                <option value="1">Montana</option>
                <option value="1">Nebraska</option>
                <option value="1">Nevada</option>
                <option value="1">New Hampshire</option>
                <option value="1">New Jersey</option>
                <option value="1">New Mexico</option>
                <option value="1">New York</option>
                <option value="1">North Carolina</option>
                <option value="1">North Dakota</option>
                <option value="1">Ohio</option>
                <option value="1">Oklahoma</option>
                <option value="1">Oregon</option>
                <option value="1">Pennsylvania</option>
                <option value="1">Rhode Island</option>
                <option value="1">South Carolina</option>
                <option value="1">South Dakota</option>
                <option value="1">Tennessee</option>
                <option value="1">Texas</option>
                <option value="1">Utah</option>
                <option value="1">Vermont</option>
                <option value="1">Virginia</option>
                <option value="1">Washington</option>
                <option value="1">West Virginia</option>
                <option value="1">Wisconsin</option>
                <option value="1">Wyoming</option>
              </select>
            </div>
          </div>
        </div>
      </ng-form>
    </section>
    <section class="business-info">
      <div class="section-heading">Business Information</div>
      <div class="section-subheading">Our philosophy and expertise<span class="br-mobile"></span> are best represented
        by<span class="br-mobile"></span> our labors of love.
      </div>
      <ng-form >
        <div class="form-row inner-form-section">
          <div class="col-6">
            <div class="col">
              <label>Business Name</label>
            </div>
            <div class="col-8">
              <input
                name="businessName"
                placeholder="Business Name"
                type="text"
                minlength="2"
                class="form-control"
              >
            </div>
          </div>
          <div class="col-6">
            <div class="col">
              <label>Business URL</label>
            </div>
            <div class="col-8">
              <input
                name="businessUrl"
                placeholder="www.yourbusiness.com"
                class="form-control"
                type="text"
                minlength="2">
            </div>
          </div>
        </div>
        <div class="form-row inner-form-section">
          <div class="col-6">
            <div class="col">
              <label>Type of Project</label>
            </div>
            <div class="col-8">
              <select
                name="projectTypeDropDownInputName"
                class="custom-select" id="projectTypeDropDownId"
                required ngModel>
                <option value="" selected>Type of Project</option>
                <option value="Alabama">Option</option>
                <option value="Alaska">Option</option>
                <option value="Arizona">Option</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="col">
              <label>What Kind Of Business Are You</label>
            </div>
            <div class="col-8">
              <select
                name="businessTypeDropDownInputName"
                class="custom-select" id="businessTypeDropDownId"
                required ngModel>
                <option value="" selected>Type of Business</option>
                <option value="Alabama">Option</option>
                <option value="Alaska">Option</option>
                <option value="Arizona">Option</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-row inner-form-section">
          <div class="col-6">
            <div class="col">
              <label>Budget</label>
            </div>
            <div class="col-8">
              <select
                name="budgetDropDownInputName"
                class="custom-select" id="budgetDropDownId"
                required ngModel>
                <option value="" selected>Budget</option>
                <option value="Alabama">Small</option>
                <option value="Alaska">Medium</option>
                <option value="Arizona">Large</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="col">
              <label>Timeline</label>
            </div>
            <div class="col-8">
              <select
                      name="timelineDropDownInputName"
                      class="custom-select" id="timelineDropDownId"
                      required ngModel>
                <option value="" selected>TimeLine</option>
                <option value="Alabama">Short</option>
                <option value="Alaska">Medium</option>
                <option value="Arizona">Long Term</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-row inner-form-section">
          <div class="col-8">
            <div class="col-8">
              <label>Project Description</label>
            </div>
            <div class="col-12">
              <input
                name="projectDescription"
                placeholder="Project Description"
                type="text"
                minlength="2"
                class="form-control description-height"
              >
            </div>
          </div>
        </div>
      </ng-form>
    </section>
  </div>
</main>

