/* You can add global styles to this file, and also import other style files */
:root, [data-theme="default-dark"] {
  --logo-primary-color: hsl(0, 0%, 13%);
  --font-primary-color: hsl(100, 0%, 13%);
  --companies-logo-color: hsl(0, 17%, 98%);
}

:root, [data-layout="default-dark-right"] {
  --hero-home-background-image-url: url('/assets/images/landing-pages/1/right.aligned.png');
}

:root, [data-layout="default-dark-left"] {
  --hero-home-background-image-url: url('/assets/images/landing-pages/1/left.aligned.png');
}

:root, [data-layout="default-dark-bottom"] {
  --hero-home-background-image-url: url('/assets/images/landing-pages/1/bottom.aligned.png');
}
