<main class="page">

  <header class="hero-fixed hero-home" id="hero"
          style="background: url('assets/images/contactPage/contactPageSplashBackground.jpg') center no-repeat; background-size: cover;">
    <div class="video-overlay" style="display: none;"></div>
    <div class="home-hero-text-container">
      <div class="container fade-in-first">
        <div class="home-hero-text">Login As Admin
        </div>
      </div>
    </div>
    <a class="icon-down-open-big hero-arrow" pageScroll pageScrollOffset="80" href="#top-section">
      <img alt="caret" src="assets/images/caret.svg" style="width: 50px; height: 50px">
    </a>
  </header>
  <div id="successTop" fragment="successTop"></div>
  <div class="main-content-container" id="top-section">
    <section
             class="contact-info-desktop hidden-mobile hidden-mobile-450 hidden-mobile-768">
      <div class="section-heading">Admin Login</div>
      <div class="align-items-center">
        <form #quoteForm="ngForm" (ngSubmit)="onSubmit();" class="align-items-center needs-validation">
          <div class="form-group">
           
            <div class="form-row inner-form-section">
               <div class="col-md-4"></div>
              <div class="form-group col-md-4">
                <label for="userName">User Name*</label>
                
                <input
                  id="userName"
                  name="userName"
                  placeholder="User Name"
                  type="text"
                  class="form-control"
                  minlength="2"
                  pattern="^[^0-9]+$"
                  required>
  
              </div>
            </div>
            <div class="form-row inner-form-section">
              <div class="col-md-4"></div>
             <div class="form-group col-md-4">
               <label for="userName">Password*</label>
               
               <input
                 id="password"
                 name="password"
                 placeholder="Password"
                 type="password"
                 class="form-control"
                 minlength="2"
                 pattern="^[^0-9]+$"
                 required>
 
             </div>
           </div>
          </div>
          <button type="submit" class="contact-button btn btn-block btn-sm"> Submit
          </button>
        </form>
      </div>
    </section>

  </div>
</main>
<ngx-spinner type="ball-spin-clockwise"></ngx-spinner>

