.contact-button {
  width: 30%;
  background-color: white;
  border: solid 2px #3466aa;
  align-content: center;
  margin: 0 auto;
  color: #3466aa;
}
.adminloginContainer {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/images/homePage/bytePushersHomePageSplashScreenBackground.jpg")
      center no-repeat;
  background-size: cover;
}
.loginBox {
  width: 600px;
  height: 250px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
