<main class="page">
  <header
    class="hero-fixed hero-home"
    id="hero"
    style="
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('assets/images/homePage/bytePushersHomePageSplashScreenBackground.jpg')
          center no-repeat;
      background-size: cover;
    "
  >
    <div class="video-overlay" style="display: none"></div>
    <div class="home-hero-text-container">
      <div class="container fade-in-first">
        <div class="home-hero-text">
          Creating solutions to solve today's and tomorrow’s problems
          <strong style="color: #62a3d9">bit</strong> by
          <strong style="color: #62a3d9">bit</strong>.
        </div>
      </div>
    </div>
  </header>
</main>
