<section class="border-0 border-red-500 m-5">
    <app-vartec-logo [fillColor]="logosColor"></app-vartec-logo>
    <app-va-logo [fillColor]="logosColor"></app-va-logo>
    <app-tilster-logo [fillColor]="logosColor"></app-tilster-logo>
    <app-thomson-reuters-logo [fillColor]="logosColor"></app-thomson-reuters-logo>
    <app-texas-instruments-logo [fillColor]="logosColor"></app-texas-instruments-logo>
    <app-llnl-logo [fillColor]="logosColor"></app-llnl-logo>
    <!-- [Company We Keep Goes Here!] <span [style]="{color:logosColor}">from inner component</span> -->
</section>