<section class="border-0 border-red-500 p-5 w-full flex justify-between items-center">
    <app-vartec-logo [fillColor]="logosColor" style="width: 6%;"></app-vartec-logo>
    <app-va-logo [fillColor]="logosColor" style="width: 20%;"></app-va-logo>
    <app-tilster-logo [fillColor]="logosColor" style="width: 10%;"></app-tilster-logo>
    <app-thomson-reuters-logo [fillColor]="logosColor" style="width: 6%;"></app-thomson-reuters-logo>
    <app-texas-instruments-logo [fillColor]="logosColor" style="width: 6%;"></app-texas-instruments-logo>
    <app-llnl-logo [fillColor]="logosColor" style="width: 10%;"></app-llnl-logo>
    <app-ge-logo [fillColor]="logosColor" style="width: 8%;"></app-ge-logo>
    <app-avial-logo [fillColor]="logosColor" style="width: 12%;"></app-avial-logo>
</section>