<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <title>Byte Pushers - Corporate Website.</title>
  <meta content="Byte Pushers - Corporate Website." property="og:title">
  <link href="http://bytepushers.com/feed" rel="alternate" title="Byte Pushers" type="application/atom+xml">
</head>
<html>
<body>
<app-header></app-header>
  <app-body></app-body>
</body>
</html>
