<header class="hero-fixed hero-home theme2 bottom" id="hero">
  <div class="video-overlay" style="display: none"></div>
  <app-social-media></app-social-media>
  <div class="home-hero-text-container">
    <div class="container fade-in-first">
      <div class="home-hero-text">
        Innovative Mobile Solutions, Crafted By Byte Pushers.
        <p class="MADslogan">
          Byte Pushers builds mobile apps designed to engage your users and
          drive your business forward. We use the latestmobile technologies and
          industry best practices to ensure that your app is intuitive,
          user-friendly and scalable.
        </p>

        <div class="knowMore">
          <img
            class="arrow"
            src="../../../../assets/images/Arrow-Vector.png"
            alt=""
            srcset=""
          />
          <button class="standardYelloBtn" (click)="wanttoLearnMore()">
            Wnat to Learn More?
          </button>
        </div>
      </div>
    </div>
  </div>
  <a class="hero-arrow" pageScroll pageScrollOffset="80" href="#top-section">
    <img
      alt="caret"
      src="assets/images/caret.svg"
      style="width: 50px; height: 50px"
    />
  </a>
</header>
