.knowMore {
  display: flex;
  align-items: flex-start;
  padding-top: 22px;
  padding-right: 50px;
  width: 100%;
  height: 30%;

  .arrow {
    margin-right: 30px;
  }
}

.bodyContent {
  .socialMediaIcons,
  .contentArea {
    height: 70%;
    // background: pink;
  }
}
