<!-- newly refactored code -->
<section
  class="headerTheme"
  [ngStyle]="setThemeBGImg()"
  [ngClass]="showBorders() ? 'bordersTrue' : ''"
>
  <section class="header"></section>
  <section class="bodyContent">
    <div class="customContainer">
      <div class="twoCol d-flex j-c-s-b a-bottom f-f-wrap">
        <div class="contentArea d-flex flexWrap a-bottom">
          <div class="empty"></div>
          <div class="content bottomLayout">
            <!-- commenting this below line to fix content repeating issue in mobile -->
            <!-- <h2 [ngStyle]="setTitleColor()" [innerHTML]="contentTitle"></h2> -->
          </div>
        </div>
        <div class="socialMediaIcons d-flex a-bottom">
          <app-social-media></app-social-media>
        </div>
        <div class="knowMore">
          <h2 [ngStyle]="setTitleColor()" [innerHTML]="contentTitle"></h2>
          <button class="standardYelloBtn" (click)="wanttoLearnMore()">
            Wnat to Learn More?
          </button>
        </div>
      </div>
    </div>
  </section>
  <app-hero-logos [colorofLogos]="setThemeSecondaryColor()"></app-hero-logos>
</section>
