<div class="layout-container">
    <section [ngClass]="showBorders()" class="socialMediaFlexBox">
        <div [ngClass]="showBorders()" class="hero-text-container-LR">
            <div [ngClass]="showBorders()" class="heroText">
                <span>
                    Creating solutions to solve today's and tomorrow’s problems
                    <span class="text-blue-500"><b>bit</b></span> by <span class="text-blue-500"><b>bit</b></span>.
                </span>
                <!-- <span [innerHTML]="heroContent"></span> -->
            </div>
            <app-inline-cta *ngIf="hideTill(630)"></app-inline-cta>
        </div>
        <div [ngClass]="showBorders()" class="socialMediaCol">
            <social-media></social-media>
        </div>
    </section>
    <section [ngClass]="showBorders()" class="bdr-purple-500">
        <app-companies-we-keep [ngClass]="showBorders()" class="bdr-gray-500"
            [logosColor]="'var(--companies-logo-color)'"></app-companies-we-keep>
    </section>
</div>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
    using
    'Content here, content here', making it look like readable English. Many desktop publishing packages and web page
    editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
    still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
    (injected humour and the like).
</p>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
    using
    'Content here, content here', making it look like readable English. Many desktop publishing packages and web page
    editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
    still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
    (injected humour and the like).
</p>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
    using
    'Content here, content here', making it look like readable English. Many desktop publishing packages and web page
    editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
    still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
    (injected humour and the like).
</p>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
    using
    'Content here, content here', making it look like readable English. Many desktop publishing packages and web page
    editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
    still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
    (injected humour and the like).
</p>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
    using
    'Content here, content here', making it look like readable English. Many desktop publishing packages and web page
    editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
    still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
    (injected humour and the like).
</p>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
    using
    'Content here, content here', making it look like readable English. Many desktop publishing packages and web page
    editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
    still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
    (injected humour and the like).
</p>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
    using
    'Content here, content here', making it look like readable English. Many desktop publishing packages and web page
    editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
    still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
    (injected humour and the like).
</p>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
    using
    'Content here, content here', making it look like readable English. Many desktop publishing packages and web page
    editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
    still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
    (injected humour and the like).
</p>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
    using
    'Content here, content here', making it look like readable English. Many desktop publishing packages and web page
    editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
    still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
    (injected humour and the like).
</p>