<div class="layoutContainer">
    <section [ngClass]="showBorders()"
        class="socialMediaFlexBox">
        <div [ngClass]="showBorders()" class="heroTextBoxLR">
            <div [ngClass]="showBorders()"
                class="heroText">
                <span>
                    Creating solutions to solve today's and tomorrow’s problems
                    <span class="text-blue-500"><b>bit</b></span> by <span class="text-blue-500"><b>bit</b></span>.
                </span>
                <!-- <span [innerHTML]="heroContent"></span> -->
            </div>
        </div>
        <div [ngClass]="showBorders()" class="socialMediaCol">
            <social-media></social-media>
        </div>
    </section>
    <section [ngClass]="showBorders()" class="bdrPurple500">
        <app-companies-we-keep [ngClass]="showBorders()" class="bdrGray500"
            [logosColor]="'var(--companies-logo-color)'"></app-companies-we-keep>
    </section>
</div>