<main class="page">
  <header class="hero-fixed hero-home" id="hero"
          style="background: url('../../../assets/images/contactPage/contactPageSplashBackground.jpg') center no-repeat; background-size: cover;">
    <div class="video-overlay" style="display: none;"></div>
    <div class="home-hero-text-container">
      <div class="container fade-in-first">
        <div class="home-hero-text">
          The Byte Pushers are ready to <strong>help</strong> you pave the way towards <strong>something new</strong>.
        </div>
      </div>
    </div>
    <a class="icon-down-open-big hero-arrow" pageScroll pageScrollOffset="80" href="#top-section">
      <img alt="caret" src="assets/images/caret.svg" style="width: 50px; height: 50px">
    </a>
  </header>

  <div class=" main-content-container" style="margin-top: 750px;" id="top-section">

    <section class="workwithus-mobile hidden-desktop">
      <div class="container">
        <div class="row">
          <div class="col-12 headContent-mobile">
            <h3>Let's Get In Touch</h3>
            <p>Feel free to contact us from phone or email.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 rightcontent-mobile">
           <strong> <a href="mailto:info@bytepushers.software">info@bytepushers.software</a> </strong>

          </div>
        </div>
      </div>
    </section>
    <section class="workwithus hidden-mobile hidden-mobile-450 hidden-mobile-768 ">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="headContent">
              <h3>Let's Get In Touch</h3>
              <p>Feel free to contact us from phone or email.</p>
            </div>
            <div class="rightcontent">
              <h3> <a href="mailto:info@bytepushers.software">info@bytepushers.software</a></h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="workwithus hidden-mobile hidden-mobile-450 hidden-mobile-768" style=" background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../assets/images/worksPage/bytePushersWorksPageSplashScreenBackground.jpg') center no-repeat; background-size: cover; padding:70px 0 !important;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

      <div class="headContent">
        <h3 style="color: white !important; "> <strong>View our projects</strong> <br> <b>see what were about.</b></h3></div>
      <div class="rightcontent lets-talk-padding" style="border: none;">
      <a class="lets-talk-button" style="float: right" [routerLink]="'/work'" (click)="toFeaturesSection()" routerLinkActive="active">Featured Projects</a>
      </div>
          </div>
        </div>
      </div>
    </section>
    <section class="lets-talk hidden-desktop" style=" background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../assets/images/worksPage/bytePushersWorksPageSplashScreenBackground.jpg') center no-repeat; background-size: cover; ">

      <div class="lets-talk-heading" > <strong>View our projects</strong> <br> <b>see what were about.</b></div>
      <a class="lets-talk-button" [routerLink]="'/work'" (click)="toFeaturesSection()" routerLinkActive="active">Featured Projects</a>
    </section>
  </div>
</main>

