<main class="page">
  <header class="hero-fixed hero-home" id="hero"
          style="background: url('../../../assets/images/aboutPage/bytePushersAboutPageSplashScreenBackground.png') center no-repeat; background-size: cover;">
    <div class="video-overlay" style="display: none;"></div>
    <div class="home-hero-text-container">
      <div class="container fade-in-first">
        <div class="home-hero-text">About Byte Pushers team.
        </div>
      </div>
    </div>
    <a class="icon-down-open-big hero-arrow" pageScroll pageScrollOffset="80" href="#top-section">
      <img alt="caret " src="assets/images/caret.svg" style="width: 50px; height: 50px">
    </a>
  </header>

  <div class="main-content-container" style="margin-top: 750px;">
    <section class="full-width-section-gray gray-paragraph" id="top-section">
      <div style="text-align: left; font-size: 18px">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.</p></div>
    </section>
    <section class="about-us-section">
      <div class="about-us-icon">
        <img src="assets/images/aboutPage/bytePushersAboutsPageIdeationIcon.svg"
             style="width: 200px; height: 200px; margin-left: 41%; margin-right: 41%">
      </div>
      <div class="about-section-heading"><strong style="color: #62a3d9">Ideation & Planning</strong></div>
      <div class="about-section-subheading">Our philosophy and expertise<span class="br-mobile"></span> are best
        represented
        by<span class="br-mobile"></span> our labors of love.
      </div>
      <div class="about-section-paragraph">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
          viverra ipsum. Duis ultricies posuere leo eget rhoncus. Sed ornare ligula non egestas efficitur. Nam
          eleifend est vehicula aliquam accumsan. Vivamus tincidunt risus sem, sit amet eleifend lacus
          bibendum
          eu. Pellentesque et posuere diam, ut porttitor augue.</p>
      </div>
      <div class="about-us-icon">
        <img src="assets/images/aboutPage/bytePushersAboutsPageDesignIcon.svg"
             style="width: 200px; height: 200px; margin-left: 41%; margin-right: 41%">
      </div>
      <div class="about-section-heading"><strong style="color: #62a3d9">Process & Design</strong></div>
      <div class="about-section-subheading">Our philosophy and expertise<span class="br-mobile"></span> are best
        represented
        by<span class="br-mobile"></span> our labors of love.
      </div>
      <div class="about-section-paragraph">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
          viverra ipsum. Duis ultricies posuere leo eget rhoncus. Sed ornare ligula non egestas efficitur. Nam
          eleifend est vehicula aliquam accumsan. Vivamus tincidunt risus sem, sit amet eleifend lacus
          bibendum
          eu. Pellentesque et posuere diam, ut porttitor augue.</p>
      </div>
      <div class="about-us-icon">
        <img src="assets/images/aboutPage/bytePushersAboutsPageCodeIcon.svg"
             style="width: 200px; height: 200px; margin-left: 41%; margin-right: 41%">
      </div>
      <div class="about-section-heading"><strong style="color: #62a3d9">Implementation</strong></div>
      <div class="about-section-subheading">Our philosophy and expertise<span class="br-mobile"></span> are best
        represented
        by<span class="br-mobile"></span> our labors of love.
      </div>
      <div class="about-section-paragraph">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
          viverra ipsum. Duis ultricies posuere leo eget rhoncus. Sed ornare ligula non egestas efficitur. Nam
          eleifend est vehicula aliquam accumsan. Vivamus tincidunt risus sem, sit amet eleifend lacus
          bibendum
          eu. Pellentesque et posuere diam, ut porttitor augue.</p>
      </div>
    </section>
    <section class="section container">
      <div class="quote">
        “Byte Pushers is fanatical about delivering special.”
        <div class="quote-attr">Mark Henry</div>
        <div class="quote-attr-title">CEO, One Technologies</div>
      </div>
    </section>
    <section class="contact-work-with-us half-width-img-section">
      <img class="half-width-img full-height"
           src="assets/images/images/place-holder.png"
           alt="Conference room 1">
      <div class="half-width-img-container">
        <div class="heading-large">Work With Us</div>
        <div class="subheading-large">We’re always looking for amazing people to join our team</div>
        <div class="p">
          Our team is passionate about what we do and we’re extremely personable. We want
          you to make us even better. If we look like we might fit what you’re looking for,
          check out some of our open positions.
        </div>
        <a class="button-secondary" href="#">View Open Positions</a>
      </div>
    </section>
    <section class="lets-talk">
      <div class="lets-talk-heading">Like what you see? <br> Let’s talk.</div>
      <a class="lets-talk-button" href="http://bytepushers.com/contact">Contact Us</a>
    </section>
  </div>
</main>
