.col {
  padding-left: 0px;
  padding-right: 0px;
}


::ng-deep .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

::ng-deep .carousel-control-next, .carousel-control-next, .disabled {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  color: white;
}

div[disabled] {
  opacity: 0.0;
  filter: alpha(opacity=00); /* For IE8 and earlier */
}

::ng-deep .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

::ng-deep .carousel-indicators li {
  background-color: rgba(72, 55, 55, 0.79);
}


::ng-deep .carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
  color: #1b1919;
  text-decoration: none;
  outline: 0;
  opacity: .1;
}

.services-carousel {
  height: 240px !important;
  margin-bottom: 2em !important;
}


.services-carousel-title {
  margin-top: 10px !important;
  text-align: center;
}

::ng-deep .left.carousel-control.carousel-control-prev.disabled {
  background-color: white;
  opacity: inherit;

}

::ng-deep .left.carousel-control.carousel-control-prev.disabled span {
  visibility: hidden;

}

::ng-deep .right.carousel-control.carousel-control-next.disabled {
  background-color: white;
  opacity: inherit;
}

::ng-deep .right.carousel-control.carousel-control-next.disabled span {
  visibility: hidden;
}


::ng-deep .carousel-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}


.tech-icons-1 {
  height: 14vh;
  vertical-align: auto;
  padding-top: auto;
  padding-bottom: auto;
}

.tech-icons-2 {
  height: 8vh;
  vertical-align: auto;
  padding-top: auto;
  padding-bottom: auto;
}

.tech-icons-mobile-1 {
  height: 12vh;
  vertical-align: auto;
  padding-top: auto;
  padding-bottom: 2vh;
}

.tech-icons-mobile-2 {
  height: 6vh;
  vertical-align: auto;
  padding-top: auto;
  padding-bottom: 2vh;
}

.tech-text {
  font-size: 6vh;
  text-align: center !important;
}

.icon {
  display: inline-block;
  filter: opacity(50%) !important;
}

.icon:hover {
  filter: unset !important;
  text-decoration: none;
  color: #1b1919;
}

.tech-text-mobile {
  font-size: 3vh;
  padding-bottom: 2vh;

}

strong:hover {
  color: black;
}
