<main class="page">
  <header class="hero-fixed hero-home" id="hero"
          style=" background: url('assets/images/servicesPage/bytePushersServicesBg.png') center no-repeat; background-size: cover">
    <div class="home-hero-text-container">
      <div class="container fade-in-first">
        <div class="home-hero-text"><strong style="color: #62a3d9">Design</strong>, <strong style="color: #62a3d9">Develop</strong>,
          and <strong style="color: #62a3d9">Deliver</strong> your ideas <br><font style="color: #62a3d9">on time</font>
          and <font style="color: #62a3d9">under budget</font>.
        </div>
      </div>
    </div>
    <a class="icon-down-open-big hero-arrow" pageScroll pageScrollOffset="80" href="#top-section">
      <img alt="caret" src="assets/images/caret.svg" style="width: 50px; height: 50px">
    </a>
  </header>

  <div class="main-content-container" id="top-section">
    <section class="gray-background hidden-mobile hidden-mobile-450 hidden-mobile-768">
      <div class="section">
        <p style="text-align: center;font-size:1.4em;">Your Business. Our Services. Equals great <strong>Business
          Solutions</strong>!</p>
      </div>
    </section>
    <section class="gray-background hidden-desktop">
      <div class="section">
        <p style="text-align: center;font-size:1.4em;">Your Business. <br>Our Services.<br> Equals<br><span style="white-space: nowrap; margin-left: -100%; letter-spacing: -2px;
    margin-right: -100%;">great <strong>Business Solutions</strong>!</span></p>
      </div>
    </section>
    <section class="hidden-mobile hidden-mobile-450 hidden-mobile-768">
      <div class="section-heading">Our Services</div>
      <div class="section-subheading">
        Cloud-First solutions for the <span class="br-mobile"></span> <strong>private</strong> and
        <strong>public</strong> sectors
        across <span class="br-mobile"></span>all business domains.
      </div>
      <div style="margin-top: 1em;margin-bottom: 3em;">
        <div class="row">
          <!--<div class="col-1">&nbsp;</div>-->
          <div class="col">
            <div style="padding: 20px;">
              <div>
                <img src="assets/images/servicesPage/bytePushersServicesPageITConsultingIcon.svg"
                     style="height: 50px; width: 50px;">
              </div>
              <div class="service-heading">
                <h2><strong>Data Driven Services</strong></h2>
              </div>
              <div class="services-copy">
                <p>Make your business <i>smarter</i> by utilizing your data to inform or enhance processes, decision
                  making, and even your revenue model. </p>
              </div>
              <!--<div class="services-copy-link">
                <a class="webpage-link" [routerLink]="'/services'" (click)="backToTop()" ><strong>Read More</strong></a>
              </div>-->
            </div>
          </div>
          <div class="col-4">
            <div style="padding: 20px;">
              <div>
                <img src="assets/images/servicesPage/bytePushersServicesPageAppDevIcon.svg"
                     style="height: 50px; width: 50px;">
              </div>
              <div class="service-heading">
                <h2><strong>Data Mining/Aggregation</strong></h2>
              </div>
              <div class="services-copy">
                <p>Optimize for the future by understanding the past and present, and making accurate predictions about
                  what is likely to happen next.</p>
              </div>
              <!--<div class="services-copy-link">
                <a class="webpage-link" [routerLink]="'/services'" (click)="backToTop()" ><strong>Read More</strong></a>
              </div>-->
            </div>
          </div>
          <div class="col">
            <div style="padding: 20px;">
              <div>
                <img src="assets/images/servicesPage/bytePushersServicesPageBatchProcessingIcon.svg"
                     style="height: 50px; width: 50px;">
              </div>
              <div class="service-heading">
                <h2><strong>Batch Processing</strong></h2>
              </div>
              <div class="services-copy">
                <p>
                  <i>Batch Processing</i> for your Enterprise! Rest assure that your processes are running and working
                  for you, even when you are not!
                </p>
              </div>
              <!--<div class="services-copy-link">
                <a class="webpage-link" [routerLink]="'/services'" (click)="backToTop()" ><strong>Read More</strong></a>
              </div>-->
            </div>
          </div>
          <!--<div class="col-1">&nbsp;</div>-->
        </div>
        <div class="row">
          <!--<div class="col-1">&nbsp;</div>-->
          <div class="col">
            <div style="padding: 20px;">
              <div>
                <img src="assets/images/servicesPage/bytePushersServicesPageITConsultingIcon.svg"
                     style="height: 50px; width: 50px;">
              </div>
              <div class="service-heading">
                <h2><strong>IT Consulting</strong></h2>
              </div>
              <div class="services-copy">
                <p>No matter if you are doing <i>B2B integrations</i> or <i>B2C applications</i>, let us help you build
                  something great!</p>
              </div>
              <!--<div class="services-copy-link">
                <a class="webpage-link" [routerLink]="'/services'" (click)="backToTop()" ><strong>Read More</strong></a>
              </div>-->
            </div>
          </div>
          <div class="col-4">
            <div style="padding: 20px;">
              <div>
                <img src="assets/images/servicesPage/bytePushersServicesPageAppDevIcon.svg"
                     style="height: 50px; width: 50px;">
              </div>
              <div class="service-heading">
                <h2><strong>Custom App Development</strong></h2>
              </div>
              <div class="services-copy">
                <p>We focus on building custom <i>mobile-first</i> apps to reach more customers. We can do the same for
                  you!</p>
              </div>
              <!--<div class="services-copy-link">
                <a class="webpage-link" [routerLink]="'/services'" (click)="backToTop()" ><strong>Read More</strong></a>
              </div>-->
            </div>
          </div>
          <div class="col">
            <div style="padding: 20px;">
              <div>
                <img src="assets/images/servicesPage/bytePushersServicesPageBatchProcessingIcon.svg"
                     style="height: 50px; width: 50px;">
              </div>
              <div class="service-heading">
                <h2><strong>Big Data Analytics</strong></h2>
              </div>
              <div class="services-copy">
                <p>Need to crunch the numbers? We've got you covered! We can build amazing dash boards to help you
                  visualize and act on your data!</p>
              </div>
              <!--<div class="services-copy-link">
                <a class="webpage-link" [routerLink]="'/services'" (click)="backToTop()" ><strong>Read More</strong></a>
              </div>-->
            </div>
          </div>
          <!--<div class="col-1">&nbsp;</div>-->
        </div>
      </div>
    </section>

    <section class="hidden-desktop">
      <carousel [interval]="false" [noWrap]="true" style="margin-bottom: 2em;">
        <div class="section-heading">Our Services</div>
        <div class="services-carousel">
          <div class="services-carousel">
            <ol class="carousel-indicators">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <slide>
              <section class="service-container" style="margin-top: 20px;">


                <div class="row"><img src="assets/images/servicesPage/bytePushersServicesPageITConsultingIcon.svg"
                                      style="height: 50px; width: 50px;">
                </div>
                <div class="row services-carousel-title">
                  <h2><strong>Data Driven Services</strong></h2>
                </div>
                <div class="row services-carousel-title">
                  <p>Make your business <i>smarter</i> by utilizing your data to inform or enhance processes, decision
                    making, and even your revenue model. </p>

                </div>
                <!--<div class="row" style="margin: 10px !important;">
                  <a><strong>Read More</strong></a>
                </div>-->


              </section>
            </slide>
            <slide active>
              <section class="service-container" style="margin-top: 20px;">


                <div class="row"><img src="assets/images/servicesPage/bytePushersServicesPageAppDevIcon.svg"
                                      style="height: 50px; width: 50px;">
                </div>
                <div class="row services-carousel-title">
                  <h2><strong>Data Mining/Aggregation</strong></h2>
                </div>
                <div class="row services-carousel-title">
                  <p>Optimize for the future by understanding the past and present, and making accurate predictions
                    about what is likely to happen next.</p>

                </div>
                <!--<div class="row" style="margin: 10px !important;">
                  <a><strong>Read More</strong></a>
                </div>-->

              </section>
            </slide>
            <slide>
              <section class="service-container" style="margin-top: 20px;">

                <div class="row"><img src="assets/images/servicesPage/bytePushersServicesPageDataDrivenIcon.svg"
                                      style="height: 50px; width: 50px;">
                </div>
                <div class="row services-carousel-title">
                  <h2><strong>Batch Processing</strong></h2>
                </div>
                <div class="row services-carousel-title">
                  <p>
                    <i>Batch Processing</i> for your Enterprise! Rest assure that your processes are running and working
                    for you, even when you are not!
                  </p>
                </div>
                <!--<div class="row" style="margin: 10px !important;">
                  <a><strong>Read More</strong></a>
                </div>-->

              </section>
            </slide>
            <slide>
              <section class="service-container" style="margin-top: 20px;">

                <div class="row"><img src="assets/images/servicesPage/bytePushersServicesPageDataMiningIcon.svg"
                                      style="height: 50px; width: 50px;">
                </div>
                <div class="row services-carousel-title">
                  <h2><strong>IT Consulting</strong></h2>
                </div>
                <div class="row services-carousel-title">
                  <p>No matter if you are doing <i>B2B integrations</i> or <i>B2C applications</i>, let us help you
                    build something great!</p>

                </div>
                <!--<div class="row" style="margin: 10px !important;">
                  <a><strong>Read More</strong></a>
                </div>-->

              </section>
            </slide>
            <slide>
              <section class="service-container" style="margin-top: 20px;">

                <div class="row"><img src="assets/images/servicesPage/bytePushersServicesPageMobileDevIcon.svg"
                                      style="height: 50px; width: 50px;">
                </div>
                <div class="row services-carousel-title">
                  <h2><strong>Custom App Development</strong></h2>
                </div>
                <div class="row services-carousel-title">
                  <p>We focus on building custom <i>mobile-first</i> apps to reach more customers. We can do the same
                    for you!</p>
                </div>
                <!--<div class="row" style="margin: 10px !important;">
                  <a><strong>Read More</strong></a>
                </div>-->

              </section>
            </slide>
            <slide>
              <section class="service-container" style="margin-top: 20px;">

                <div class="row"><img src="assets/images/servicesPage/bytePushersServicesPageBatchProcessingIcon.svg"
                                      style="height: 50px; width: 50px;">
                </div>
                <div class="row services-carousel-title">
                  <h2><strong>Big Data Analytics</strong></h2>
                </div>
                <div class="row services-carousel-title">
                  <p>Need to crunch the numbers? We've got you covered! We can build amazing dash boards to help you
                    visualize and act on your data!</p>
                </div>
                <!--<div class="row" style="margin: 10px !important;">
                  <a><strong>Read More</strong></a>
                </div>-->

              </section>
            </slide>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </carousel>
    </section>
    <section class="gray-background">
      <div class="section-heading section-quote">
        We are a Business-Driven and Technology-Focused company!
      </div>

    </section>
    <section class=" companies hidden-mobile hidden-mobile-450 hidden-mobile-768">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2 style="font-size: 24px"><strong>Technologies We Use</strong></h2>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-4 logoColumn">

              <a href="https://www.java.com/en/download/help/whatis_java.html" class="icon">
              <img src="../../../assets/images/servicesPage/javaIcon.svg" class="tech-icons-1">

              <h2><strong class="icon-text">Java</strong></h2>
              </a>
            </div>

            <div class="col-sm-4 logoColumn ">
              <a href="https://ionicframework.com/" class="icon">
              <img src="../../../assets/images/servicesPage/ionicIcon.svg" class="tech-icons-2">
              <h2><strong class="icon-text">Ionic</strong></h2>
              </a>
            </div>

            <div class="col-sm-4 logoColumn">
              <a href="https://angular.io/" class="icon">
              <img src="../../../assets/images/servicesPage/angularIcon.svg" class="tech-icons-1">
              <h2><strong class="icon-text">Angular</strong></h2>
              </a>
            </div>

        </div>
        <div class="row">

            <div class="col-sm-4 logoColumn">
              <a href="https://spring.io/projects/spring-framework" class="icon">
              <img src="../../../assets/images/servicesPage/springIcon.svg" class="tech-icons-2">
              <h2><strong class="icon-text">Spring Framework</strong></h2>
              </a>
            </div>


            <div class="col-sm-4 logoColumn">
              <a href="https://spring.io/projects/spring-boot" class="icon">
              <img src="../../../assets/images/servicesPage/spring-boot-logo.svg" class="tech-icons-1">
              <h2><strong class="icon-text">Spring Boot</strong></h2>
              </a>
            </div>


            <div class="col-sm-4 logoColumn">
              <a href="https://redux.js.org/" class="icon">
              <img src="../../../assets/images/servicesPage/reduxIcon.svg" class="tech-icons-2">
              <h2><strong class="icon-text">Redux</strong></h2>
              </a>
            </div>

        </div>
        <div class="row">

          <div class="col-sm-4 logoColumn">
            <a href="https://www.ibm.com/analytics/hadoop/big-data-analytics" class="icon">
              <img src="../../../assets/images/servicesPage/analyticsIcon.svg" class="tech-icons-1">
            <h2><strong class="icon-text">Big Data Analytics</strong></h2>
            </a>
          </div>


            <div class="col-sm-4 logoColumn">
              <a href="https://www.sas.com/en_us/insights/analytics/what-is-a-data-scientist.html" class="icon">
              <img src="../../../assets/images/servicesPage/dataIcon.svg" class="tech-icons-2">
              <h2><strong class="icon-text">Data Scientist</strong></h2>
              </a>
            </div>

          <div class="col-sm-4 logoColumn">
            <a href="https://en.wikipedia.org/wiki/Enterprise_service_bus" class="icon">
              <img src="../../../assets/images/servicesPage/esbIcon.svg" class="tech-icons-2">
              <h2 style="    margin: revert !important;
    padding-top: 01%;"><strong class="icon-text">ESB</strong></h2>
            </a>
          </div>
        </div>
        <div class="row">

          <div class="col-sm-4 logoColumn">
            <a href="https://rxjs-dev.firebaseapp.com/guide/overview" class="icon">
              <img src="../../../assets/images/servicesPage/reactivexIcon.svg" class="tech-icons-1">
            <h2><strong class="icon-text">RxJS</strong></h2>
            </a>
          </div>


          <div class="col-sm-4 logoColumn">
            <a href="https://aws.amazon.com/about-aws/" class="icon">
              <img src="../../../assets/images/servicesPage/amazonawsIcon.svg" class="tech-icons-2">
            <h2><strong class="icon-text">Amazon AWS</strong></h2>
            </a>
          </div>
          <div class="col-sm-4 logoColumn">
            <a
              href="https://healthcare.pilotfishtechnology.com/edi-837-claim-edi-834-benefit-automation/?gclid=Cj0KCQiA2uH-BRCCARIsAEeef3ktfOhkcSX742fQ5kHNjNShUTdctbWPRGI89NPGI-i4bXL49dCCW98aAtPFEALw_wcB" class="icon">
              <h3 class="tech-text" style="line-height: 12vh"><strong>X12 EDI</strong></h3></a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 logoColumn">
            <div class="col-sm-4 " style="margin-left: auto; margin-right: auto">
              <a href="http://www.spec2000.com/10.html" style=" text-decoration: none;

    vertical-align: middle;" class="icon"><h1 style="text-align:center !important;"><strong class="tech-text">ATA SPEC2000</strong>
              </h1></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="companies-mobile hidden-desktop">
      <div class="row">
        <div class="col-md-12">
          <h2 style="font-size: 24px"><strong>Technologies We Use</strong></h2>
        </div>
      </div>
      <div class="row">

        <div class="col-6 logoColumn ">
          <a href="https://www.java.com/en/download/help/whatis_java.html" class="icon"><img
            src="../../../assets/images/servicesPage/javaIcon.svg" class="tech-icons-mobile-2"></a>
          <h2><strong class="icon-text-mobile">Java</strong></h2>

        </div>
        <div class="col-6 logoColumn">
          <a href="https://ionicframework.com/" class="icon"> <img src="../../../assets/images/servicesPage/ionicIcon.svg"
                                                      class="tech-icons-mobile-2"></a>
          <h2><strong class="icon-text-mobile">Ionic</strong></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6 logoColumn ">
          <a href="https://angular.io/" class="icon"><img src="../../../assets/images/servicesPage/angularIcon.svg"
                                             class="tech-icons-mobile-1"></a>
          <h2><strong class="icon-text-mobile" >Angular</strong></h2>
        </div>
        <div class="col-6 logoColumn">
          <a href="https://spring.io/projects/spring-framework" class="icon"><img
            src="../../../assets/images/servicesPage/springIcon.svg" class="tech-icons-mobile-1"></a>
          <h2><strong class="icon-text-mobile">Spring Framework</strong></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6 logoColumn ">
          <a href="https://redux.js.org/" class="icon"> <img src="../../../assets/images/servicesPage/reduxIcon.svg"
                                                class="tech-icons-mobile-2"></a>
          <h2><strong class="icon-text-mobile">Redux</strong></h2>
        </div>
        <div class="col-6 logoColumn">
          <a href="https://www.ibm.com/analytics/hadoop/big-data-analytics" class="icon"><img
            src="../../../assets/images/servicesPage/analyticsIcon.svg" class="tech-icons-mobile-2"></a>
          <h2><strong class="icon-text-mobile">Big Data Analytics</strong></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6 logoColumn ">
          <a href="https://www.sas.com/en_us/insights/analytics/what-is-a-data-scientist.html" class="icon"><img
            src="../../../assets/images/servicesPage/dataIcon.svg" class="tech-icons-mobile-1"></a>
          <h2><strong class="icon-text-mobile">Data Scientist</strong></h2>
        </div>
        <div class="col-6 logoColumn">
          <a href="https://en.wikipedia.org/wiki/Enterprise_service_bus" class="icon"> <img
            src="../../../assets/images/servicesPage/esbIcon.svg" class="tech-icons-mobile-1"></a>
          <h2 style="    margin: revert !important;
    padding-top: 01%;"><strong class="icon-text-mobile">ESB</strong></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6 logoColumn ">
          <a href="https://rxjs-dev.firebaseapp.com/guide/overview" class="icon"><img
            src="../../../assets/images/servicesPage/reactivexIcon.svg" class="tech-icons-mobile-2"></a>
          <h2><strong class="icon-text-mobile">RxJS</strong></h2>
        </div>
        <div class="col-6 logoColumn">
          <a href="https://aws.amazon.com/about-aws/" class="icon"><img src="../../../assets/images/servicesPage/amazonawsIcon.svg"
                                                           class="tech-icons-mobile-2"></a>
          <h2><strong class="icon-text-mobile">Amazon AWS</strong></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 logoColumn">
          <a href="https://spring.io/projects/spring-boot" class="icon"><img
            src="../../../assets/images/servicesPage/spring-boot-logo.svg" class="tech-icons-mobile-1"></a>
          <h2><strong class="icon-text-mobile">Spring Boot</strong></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 logoColumn">
          <a
            href="https://healthcare.pilotfishtechnology.com/edi-837-claim-edi-834-benefit-automation/?gclid=Cj0KCQiA2uH-BRCCARIsAEeef3ktfOhkcSX742fQ5kHNjNShUTdctbWPRGI89NPGI-i4bXL49dCCW98aAtPFEALw_wcB" class="icon">
            <h3 class="tech-text-mobile"><strong>X12 EDI</strong></h3></a>

        </div>
        <div class="row">
          <div class="col-12 logoColumn">
            <a href="http://www.spec2000.com/10.html" class="icon"><h1 style="text-align:center !important;"><strong
              class="tech-text-mobile">ATA SPEC2000</strong></h1></a>
          </div>
        </div>
      </div>
    </section>
    <section class="lets-talk-services">
      <div class="lets-talk-heading">Engage with us. <br> Let’s talk.</div>
      <a class="lets-talk-button" href="http://bytepushers.com/contact" class="icon">Contact Us</a>
    </section>
  </div>
</main>
