<div class="bpHeader">
    <div class="logo">
        <app-logo-text-bottom class="logoClick block md:hidden" (click)="goHome()" title="Byte Pushers Inc."
            [logoColor]="'var(--logo-primary-color)'">
        </app-logo-text-bottom>
        <app-logo-text-aside class="logoClick hidden md:block" (click)="goHome()" title="Byte Pushers Inc." [logoColor]="'var(--logo-primary-color)'">
        </app-logo-text-aside>
    </div>
    <div class="navigation">
        <ul>
            <li><a href="http://"></a></li>
        </ul>
    </div>
</div>