<main class="page">
  <header class="hero-fixed hero-home" id="hero"
          style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../assets/images/homePage/bytePushersHomePageSplashScreenBackground.jpg') center no-repeat;  background-size: cover;">
    <div class="video-overlay" style="display: none;"></div>
    <div class="home-hero-text-container">
      <div class="container fade-in-first">
        <div class="home-hero-text">
          Creating solutions to solve today and tomorrow’s problems <strong style=" color: #62a3d9;">bit</strong> by
          <strong style=" color: #62a3d9;">bit</strong>.
        </div>
      </div>
    </div>
    <a class="icon-down-open-big hero-arrow" pageScroll pageScrollOffset="80" href="#top-section">
      <img alt="caret" src="assets/images/caret.svg" style="width: 50px; height: 50px">
    </a>
  </header>

  <div class="main-content-container" style="margin-top: 750px;" id="top-section">
    <section class="full-width-section-gray">
      <div class="container-fluid justify-content-center">
        <div class="row" style="text-align: left; font-size: 14px">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</p></div>
      </div>
    </section>
    <section>
      <div class="row section-heading">Featured Projects</div>
      <div class="row section-subheading">Our philosophy and expertise<span class="br-mobile"></span> are best
        represented
        by<span class="br-mobile"></span> our labors of love.
      </div>
      <div class="featuresSections">
        <div class="fadein-out-features">
          <div class="featuresContent">
            <img src="../../../assets/images/homePage/chucksPick3ColorLogo.svg"/>
            <h2 style="color: aliceblue; font-size: 40px;">Chuck's Pick 3</h2>
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web
              designs. Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
              graphic or web designs. </p>
            <a href="#" class="learnMore">learn more</a>
          </div>
        </div>
      </div>
    </section>
    <section class="container-fluid about-container  hidden-mobile hidden-mobile-450 hidden-mobile-768 about-section">
      <div class="section-heading">Our Methodology</div>
      <div class="section-subheading">Our philosophy and expertise<span class="br-mobile"></span> are best
        represented
        by<span class="br-mobile"></span> our labors of love.
      </div>
      <div class="row" style="margin: 0;">
        <div class="col about-container">
          <div class="row">
            <img src="../../../assets/images/aboutPage/bytePushersAboutsDesignIcon.svg"
                 style="width: 200px; height: 200px;">
          </div>
          <div class="row overview-title"><strong>Implementation</strong></div>
          <div class="row" style="text-align: left">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
              viverra ipsum. Duis ultricies posuere leo eget rhoncus. Sed ornare ligula non egestas efficitur. Nam
              eleifend est vehicula aliquam accumsan. Vivamus tincidunt risus sem, sit amet eleifend lacus
              bibendum
              eu. Pellentesque et posuere diam, ut porttitor augue.</p>
          </div>
        </div>
        <div class="col about-container">

          <div class="row">
            <img src="../../../assets/images/aboutPage/bytePushersAboutsDesignIcon.svg"
                 style="width: 200px; height: 200px;">
          </div>
          <div class="row overview-title"><strong>Implementation</strong></div>
          <div class="row" style="text-align: left">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
              viverra ipsum. Duis ultricies posuere leo eget rhoncus. Sed ornare ligula non egestas efficitur. Nam
              eleifend est vehicula aliquam accumsan. Vivamus tincidunt risus sem, sit amet eleifend lacus
              bibendum
              eu. Pellentesque et posuere diam, ut porttitor augue.</p>
          </div>
          <div class="row">
          </div>
        </div>
        <div class="col about-container">
          <div class="row">
            <img src="../../../assets/images/aboutPage/bytePushersAboutsDesignIcon.svg"
                 style="width: 200px; height: 200px;">
          </div>
          <div class="row overview-title"><strong>Implementation</strong></div>
          <div class="row" style="text-align: left">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
              viverra ipsum. Duis ultricies posuere leo eget rhoncus. Sed ornare ligula non egestas efficitur. Nam
              eleifend est vehicula aliquam accumsan. Vivamus tincidunt risus sem, sit amet eleifend lacus
              bibendum
              eu. Pellentesque et posuere diam, ut porttitor augue.</p>
          </div>
          <div class="row">
          </div>
        </div>
      </div>
    </section>
    <section>
      <img class="full-width" src="../../../assets/images/aboutPage/bytePushersAboutPageSplashScreenBackground.png"
           alt="Office 3">
    </section>
    <section class="full-width-section-gray">
      <div class="section-heading"></div>
      <div class="section-subheading home-subheading">
        We concept and craft <strong>remarkable experiences</strong>
        <br>
        for an every-screen-world.
      </div>
    </section>
    <section class="container-fluid hidden-mobile hidden-mobile-450 hidden-mobile-768" style="margin-top: 2em;">
      <div class="row section-heading">Our Services</div>
      <div class="row section-subheading">Our philosophy and expertise<span class="br-mobile"></span> are best
        represented
        by<span class="br-mobile"></span> our labors of love.
      </div>
      <div class="services-section" style="margin-top: 1em">
        <div class="row">
          <div class="col">
            <div style="padding: 20px;">
              <div><img src="assets/images/servicesPage/bytePushersServicesPageITConsultingIcon.svg"
                        style="height: 50px; width: 50px;">
              </div>
              <div class="service-heading">
                <h2><strong>IT Consulting</strong></h2>
              </div>
              <div class="services-copy">
                <p>Is this specific to web based apps? Or mobile as well? All EDI (X12, ATA Spec 2000)</p>
              </div>
              <div class="services-copy-link">
                <a><strong>Read More</strong></a>
              </div>
            </div>
          </div>
          <div class="col">
            <div style="padding: 20px;">
              <div><img src="assets/images/servicesPage/bytePushersServicesPageAppDevIcon.svg"
                        style="height: 50px; width: 50px;">
              </div>
              <div class="service-heading">
                <h2><strong>Custom App Development</strong></h2>
              </div>
              <div class="services-copy">
                <p>Is this specific to web based apps? Or mobile as well? All EDI (X12, ATA Spec 2000)</p>
              </div>
              <div class="services-copy-link">
                <a><strong>Read More</strong></a>
              </div>
            </div>
          </div>
          <div class="col">
            <div style="padding: 20px;">
              <div><img src="assets/images/servicesPage/bytePushersServicesPageBatchProcessingIcon.svg"
                        style="height: 50px; width: 50px;">
              </div>
              <div class="service-heading">
                <h2><strong>Batch Processing</strong></h2>
              </div>
              <div class="services-copy">
                <p>Is this specific to web based apps? Or mobile as well? All EDI (X12, ATA Spec 2000)</p>
              </div>
              <div class="services-copy-link">
                <a><strong>Read More</strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="companies">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Companies We Keep</h2>
          </div>
          <div class="col-sm-4"><img src="./assets/images/homePage/bytePushersHomePageAviallLogo.svg"
                                     class="img-fluid logoColumn"/></div>
          <div class="col-sm-4"><img src="./assets/images/homePage/bytePushersHomePageGELogo.svg"
                                     class="img-fluid logoColumn geLogo"/></div>
          <div class="col-sm-4"><img src="./assets/images/homePage/bytePushersHomePageTelecomLogo.svg"
                                     class="img-fluid logoColumn telecomLogo"/></div>
          <div class="col-sm-4"><img src="./assets/images/homePage/bytePushersHomePageThomsonReutersLogo.svg"
                                     class="img-fluid logoColumn TRLogo"/></div>
          <div class="col-sm-4"><img src="./assets/images/homePage/bytePushersHomePageTilsterLogo.svg"
                                     class="img-fluid logoColumn tillsterLogo"/></div>
          <div class="col-sm-4"><img src="./assets/images/homePage/texas-instruments.svg"
                                     class="img-fluid logoColumn TiLogo"/></div>
          <div class="col-sm-6"><img src="./assets/images/homePage/bytePushersHomePageVALogo.svg"
                                     class="img-fluid logoColumn"/></div>
          <div class="col-sm-6"><img src="./assets/images/homePage/bytePushersHomePageZynxHealthLogo.svg"
                                     class="img-fluid logoColumn"/></div>
          <div class="col-sm-12"><img src="./assets/images/homePage/bytePushersHomePageLLNLLogo.svg"
                                      class="img-fluid logoColumn llnlLogo"/></div>
        </div>
      </div>
    </section>
    <section class="workwithus">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="headContent">
              <h3>Work With Us</h3>
              <p>We're always looking for amazing people to join our team..</p>
            </div>
            <div class="rightcontent">
              <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or
                web designs. Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                graphic or
                web designs.</p>
              <button type="button" style="margin-top: 1em">Come Work With Us</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="lets-talk">
      <div class="lets-talk-heading">Like what you see? <br> Let’s talk.</div>
      <a class="lets-talk-button" href="http://bytepushers.com/contact">Contact Us</a>
    </section>
  </div>
</main>
