<div class="flex flex-col justify-between border-0 border-blue-500 h-screen">
  <header [ngClass]="isOpen? 'bg-white': ''" class="border-0 border-red-500 md:bg-transparent">
    <nav class="flex justify-between items-center border-0 border-yellow-500 m-5">
      <div class="border-0 border-orange-500 ml-2 md:hidden">
        <svg *ngIf="!isOpen" (click)="toggleMenu(this)" class="w-8 cursor-pointer"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>

        <svg *ngIf="isOpen" (click)="toggleMenu(this)" class="w-8 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </div>
      <div [ngClass]="isOpen ? 'bg-white z-10': 'bg-transparent'" class="border-0 border-green-500 md:bg-transparent">
        <app-logo-text-bottom
          class="block md:hidden"
          title="Byte Pushers Inc."
          [logoColor]="'var(--logo-primary-color)'">
        </app-logo-text-bottom>
        <app-logo-text-aside
          class="hidden md:block"
          title="Byte Pushers Inc."
          [dimension]="logoDimension"
          [logoColor]="'var(--logo-primary-color)'">
        </app-logo-text-aside>
      </div>
      <div class="border-0 border-gray-500 mr-2 md:hidden">
        <svg class="w-8 text-transparent" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </div>
      <!--<div nav-links class="border-0 border-b-cyan-500 nav-links flex flex-col duration-500 text-white md:bg-transparent md:w-auto w-full px-5 md:px-1 mt-9 md:mt-0 md:pl-5 md:static absolute md:relative md:min-h-fit min-h-[20vh] left-0 top-[-100%] items-center"> &lt;!&ndash; md:pl-5 md:static absolute md:relative md:min-h-fit min-h-[20vh] left-0 top-[-100%] items-center //&ndash;&gt;
        &lt;!&ndash;<div [ngClass]="!isOpen ? 'hidden' : 'border-0 border-fuchsia-500 flex-grow w-screen h-[57px] md:mt-0'"></div>&ndash;&gt;
        <ul class="flex flex-col md:text-black md:flex-row bg-white md:bg-transparent md:items-center md:gap-[2vw] gap-8 w-screen md:w-auto py-5 text-center">
          <li>
            <a class="hover:text-gray-500" href="#">Home</a>
          </li>
        </ul>
      </div>-->
    </nav>
  </header>
  <section class="border-0 border-purple-500 h-full 8xsm:pt-20 7xsm:pt-10 5xsm:pt-20 4xsm:pt-20 sm:pt-10 md:pt-28 2md:pt-[10rem] 3md:pt-[12rem] xl:pt-[13rem] ipadpro:pt-[13rem] nesthub:pt-0 nesthubMax:pt-12 2xl:pt-0 3xl:pt-24 ">
    <div class="border-0 border-blue-500 flex-grow flex flex-row m-5">
      <div class="border-0 border-green-500 flex items-center justify-center">
        <social-media></social-media>
      </div>
      <div class="border-0 border-red-500 flex-grow">

      </div>
    </div>
    <div class="border-0 border-purple-500 flex-grow text-center ml-4 mr-5 8xsm:pt-20 7xsm:pt-10 5xsm:pt-16 3xsm:pt-24 sm:pt-10 md:pt-28 2md:pt-[8rem] 3md:pt-[12rem] lg:pt-32 ipadpro:pt-32 nesthub:pt-0 nesthubMax:pt-16 2xl:pt-8 3xl:pt-28">
      <div class="font-verlag 8xsm:text-4xl 7xsm:text-4xl 6xsm:text-3xl 5xsm:text-4xl 4xsm:text-5xl 3xsm:text-5xl sm:text-4xl md:text-6xl lg:text-6xl 3md:text-7xl lg:text-7xl xl:text-8xl ipadpro:text-8xl nesthub:text-5xl nesthubMax:text-6xl 2xl:text-[3.25rem] 3xl:text-6xl">
      <span>
        Creating solutions to solve today's and tomorrow’s problems
        <span class="text-blue-500"><b>bit</b></span> by <span class="text-blue-500"><b>bit</b></span>.
      </span>
      </div>
    </div>
  </section>
  <section>
    <router-outlet class="border-0 border-red-500 m-5"/>
  </section>
</div>
