<div class="layout-container">
    <section [ngClass]="showBorders()"
        class="socialMediaFlexBox">
        <div [ngClass]="showBorders()" class="socialMediaCol">
            <social-media></social-media>
        </div>
        <div [ngClass]="showBorders()" class="hero-text-container-LR align-end">
            <div [ngClass]="showBorders()"
                class="heroText text-right">
                <span>
                    Creating solutions to solve today's and tomorrow’s problems
                    <span class="text-blue-500"><b>bit</b></span> by <span class="text-blue-500"><b>bit</b></span>.
                </span>
                <!-- <span [innerHTML]="heroContent"></span> -->
            </div>
            <app-inline-cta></app-inline-cta>
        </div>
    </section>
    <section [ngClass]="showBorders()" class="bdr-purple-500">
        <app-companies-we-keep [ngClass]="showBorders()" class="bdr-gray-500"
            [logosColor]="'var(--companies-logo-color)'"></app-companies-we-keep>
    </section>
</div>