<section class="logos d-flex j-c-s-b">
  <h2 [ngStyle]="setcolor()">The companies we keep…</h2>
  <div class="leftLogos d-flex j-c-s-b a-center">
    <app-avial-logo [logoColor]="colorofLogos"></app-avial-logo>
    <app-tilster-logo [logoColor]="colorofLogos"></app-tilster-logo>
    <app-va-logo [logoColor]="colorofLogos"></app-va-logo>
    <app-llnl-logo [logoColor]="colorofLogos"></app-llnl-logo>
  </div>
  <div class="btmArrow">
    <a class="" pageScroll pageScrollOffset="80" href="#top-section">
      <img
        alt="caret"
        src="assets/images/caret.svg"
        style="width: 50px; height: 50px"
      />
    </a>
  </div>
  <div class="rightLogos d-flex j-c-s-b">
    <app-ge-logo [logoColor]="colorofLogos"></app-ge-logo>
    <app-texas-instruments-logo
      [logoColor]="colorofLogos"
    ></app-texas-instruments-logo>
    <app-vartec-logo [logoColor]="colorofLogos"></app-vartec-logo>
  </div>
</section>
