/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'assets/themes/theme.default', 'assets/themes/theme.mobile';

[data-theme] {

}

body {
  background-image: var(--hero-home-background-image-left-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.socialMediaLinksTop {
  position: relative;
  // right: 30px;
  width: 35px;
  top: -20px;
  // transform: translateY(-50%);
  // z-index: 99999;

  li {
    list-style: none;
    margin: 0 0 20px 0;
    text-align: center;

    a {
      color: #fff;

      i {
        font-size: 30px;
      }

      &:hover {
        color: #fed904;
      }

      fa-icon {
        svg {
          font-size: 30px !important;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.alignLeft {
    left: 30px !important;
  }
}

.socialMediaLinks {
  margin: 30px auto !important;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0px 25px;

    a {
      i {
        font-size: 30px;
      }

      &:hover {
        color: #fff;
      }

      fa-icon {
        svg {
          font-size: 30px !important;
        }
      }
    }
  }
}

.bottomLayout {
  text-align: center;
}
.home-hero-text {

}
