/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'assets/themes/theme.default', 'assets/themes/theme.default.dark', 'assets/themes/theme.mobile';

[data-theme] {
  color: var(--font-primary-color)
}

@font-face {
  font-family: "Verlag XLight";
  src: url("assets/fonts/Verlag-Font-Family/Verlag-XLight.ttf");
}

@font-face {
  font-family: "Verlag Light Italic";
  src: url("assets/fonts/Verlag-Font-Family/Verlag-LightItalic.ttf");
}

body {
  background-image: var(--hero-home-background-image-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.customHeight {
  height: calc(100vh - 216px) !important;
}
.showBorders {
  border-width: 2px;
}
.errorClr {
  color: rgb(206, 3, 3)
}
@layer components {
  .bpNav {
    @apply flex justify-between items-center bdrYellow500 p-5
  }
  .layout-container {
    @apply flex flex-col justify-between customHeight;
  }
  .socialMediaFlexBox {
    @apply bdr-blue-500 flex-grow flex flex-row justify-between p-5 py-0 w-full;
  }
  .hero-text-container-LR {
    @apply bdr-red-500 flex items-center w-3/5;
  }
  .heroText {
    @apply font-verlag 8xsm:text-4xl 7xsm:text-4xl 6xsm:text-3xl 5xsm:text-4xl 4xsm:text-5xl 3xsm:text-5xl sm:text-4xl md:text-6xl lg:text-6xl 3md:text-7xl lg:text-7xl xl:text-8xl ipadpro:text-8xl nesthub:text-5xl nesthubMax:text-6xl 2xl:text-[3.25rem] 3xl:text-6xl;
  }
  .socialMediaCol {
    @apply bdr-green-500 flex items-center justify-center;
  }
  .bdr-gray-500 {
    @apply border-0 border-gray-500;
  }
  .bdr-blue-500 {
    @apply border-0 border-blue-500;
  }
  .bdr-orange-500 {
    @apply border-0 border-orange-500;
  }
  .bdrYellow500 {
    @apply border-0 border-yellow-500;
  }
  .bdr-red-500 {
    @apply border-0 border-red-500;
  }
  .bdr-green-500 {
    @apply border-0 border-green-500;
  }
  .bdr-purple-500 {
    @apply border-0 border-purple-500;
  }

  .companies-we-keep {
    @apply bdr-red-500 p-5 w-full flex justify-between items-center;
  }
  .hero-text-container {
    @apply bdr-purple-500 flex-grow text-center ml-4 mr-5;
  }
  .buttonPrimary {
    // @apply bg-red-500;
      padding: 4px 12px;
      border: solid 1px #0263bb;
      background: #0263bb;
      color: #fff;
      cursor: pointer;
      min-width: 120px;
      text-align: center;
      border-radius: 5px;
  }
    .buttonPrimary:hover {
        background: #003a70;
        }
    .buttonPrimary:disabled {
        @apply bg-gray-100 text-gray-500 border-gray-200 cursor-not-allowed;
        }
  .buttonPrimaryOutline {
    padding: 4px 12px;
      border: solid 2px #0263bb;
      color: #0263bb;
      cursor: pointer;
      min-width: 120px;
      text-align: center;
      border-radius: 5px;
  }
    .buttonPrimaryOutline:hover {
      border: solid 2px #003a70;
    }
    .buttonPrimaryOutline:disabled {
      cursor: not-allowed;
      border: solid 2px #9b9b9b;
      color: #909090;
    }
}
