.knowMore {
  display: flex;
  align-items: flex-start;
  flex-flow: wrap;
  padding-top: 22px;
  padding-right: 50px;
  width: 100%;
  height: 45%;

  .arrow {
    margin-right: 30px;
  }

  h2 {
    width: 100%;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
  }
}

.bodyContent {
  .socialMediaIcons,
  .contentArea {
    height: 55%;
    // background: pink;
  }
}

@media screen and (max-height: 700px) {
  .knowMore {
    h2 {
      font-size: 1.6rem;
      margin-bottom: 6px;
    }
  }
}
