<main class="page">
  <header class="hero-fixed hero-home" id="hero"
          style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../assets/images/homePage/bytePushersHomePageSplashScreenBackground.jpg') center no-repeat;  background-size: cover;">
    <div class="video-overlay" style="display: none;"></div>
    <div class="home-hero-text-container">
      <div class="container fade-in-first">
        <div class="home-hero-text">
          Creating solutions to solve today's and tomorrow’s problems <strong style=" color: #62a3d9;">bit</strong> by
          <strong style=" color: #62a3d9;">bit</strong>.
        </div>
      </div>
    </div>
    <a class="icon-down-open-big hero-arrow" pageScroll pageScrollOffset="80" href="#top-section">
      <img alt="caret" src="assets/images/caret.svg" style="width: 50px; height: 50px">
    </a>
  </header>

  <div class="main-content-container"  id="top-section">
    <section class="gray-background">
      <!--<div class="container-fluid section-content">-->
        <!--<div class="section-heading">Featured Projects</div>-->
        <div class="section">
          <p style="text-align: center;font-size:1.4em;">We design and build <strong>remarkable software</strong> for all domains.</p>
        </div>
      <!--</div>-->
    </section>
    <section style="padding-bottom: 0px !important;">
      <div class="section-heading">Featured Projects</div>
      <div class="section-subheading">Our philosophy and expertise<span class="br-mobile"></span> are best
        represented
        by<span class="br-mobile"></span> our labors of love.
      </div>
    </section>
    <section class="section-image">
      <div class="featuresSections">
        <div class="fadein-out-features" id="cp3Desc">
          <div class="featuresContent">
            <img src="../../../assets/images/homePage/chucksPick3ColorLogo.svg"/>
            <h2 style="color: aliceblue; font-size: 40px;">Chuck's Pick 3</h2>
            <p>
              Increase your chances of winning the Pick 3 Lottery with Chuck's picks! Stay up to date on the
              latest winning Pick 3 Lottery numbers, receive notifications of generated winning numbers, track your history and
              much much more!
            </p>
            <a href="https://www.chuckspick3.com/#/" class="chucks-pick3-link">Read More</a>
          </div>
        </div>
      </div>
    </section>
    <section class="hidden-mobile hidden-mobile-450 hidden-mobile-768">
      <div class="section-heading">Our Methodology</div>
      <div class="section-subheading">
        We are practitioners of <span class="br-mobile"></span>Domain-Driven Design (DDD),<span class="br-mobile"></span>
        Behavior-Driven Development (BDD), <span class="br-mobile"></span> and Continuous Delivery (CD)!
      </div>
      <div class="row" style="margin: 0;">
        <div class="col about-container">
          <div class="row">
            <img src="../../../assets/images/aboutPage/bytePushersAboutsPageIdeationIcon.svg"
                 style="width: 200px; height: 200px;">
          </div>
          <div class="row overview-title"><strong>Domain-Driven Design</strong></div>
          <div class="row" style="text-align: left">
            <p>
              <br>DDD is an approach to software development that centers the development on programming a
              domain model that has a rich understanding of the processes and rules of a domain.
            </p>
          </div>
        </div>
        <div class="col about-container">

          <div class="row">
            <img src="../../../assets/images/aboutPage/bytePushersAboutsDesignIcon.svg"
                 style="width: 200px; height: 200px;">
          </div>
          <div class="row overview-title"><strong>Behavior-Driven Development</strong></div>
          <div class="row" style="text-align: left">
            <p>
              <br>BDD is a test-first approach that tests the actual behavior of the system from the
              end users perspective.
              <!--Test-Driven Development (TDD), reduces time, effort and cost; as it is a software development process relying on software requirements being
              converted to test cases before software is fully developed, and tracking all software development by
              repeatedly testing the software against all test cases.-->
            </p>
          </div>
          <div class="row">
          </div>
        </div>
        <div class="col about-container">
          <div class="row">
            <img src="../../../assets/images/aboutPage/bytePushersAboutsPageCodeIcon.svg"
                 style="width: 200px; height: 200px;">
          </div>
          <div class="row overview-title"><strong>Continuous Delivery</strong></div>
          <div class="row" style="text-align: left">
            <p>
              <br>CD is a software development discipline where you build software in such a way that the
              software can be released to production at any time.
            </p>
          </div>
          <div class="row">
          </div>
        </div>
      </div>
    </section>
    <section class="hidden-desktop">
      <div class="section">Our Methodology</div>
      <!--<div class="section-subheading">
        We are practitioners of <span class="br-mobile"></span>Domain Driven Design (DDD),<span class="br-mobile"></span>
        Test Driven Development (TDD), <span class="br-mobile"></span> and Continuous Delivery!
      </div>-->
      <carousel [interval]="false" [noWrap]="true" [singleSlideOffset]="true">
        <div class="methodology-carousel">

          <div class="methodology-carousel" >
            <ol class="carousel-indicators" >
              <li data-slide-to="0">1</li>
              <li data-slide-to="1">2</li>
              <li data-slide-to="2">3</li>
            </ol>
            <slide >
              <section class="container-fluid about-container-mobile" >

                <div class="row" style="margin: 0 auto;">
                  <img src="../../../assets/images/aboutPage/bytePushersAboutsPageIdeationIcon.svg"
                       style="margin-top: 10px; width: 100px; height: 100px;">
                </div>
                <div class="row" style="margin: 0 auto;">
                  <strong style="color: #62a3d9; font-size: 1.5em;">Domain-Driven Design (DDD)</strong>
                </div>
                <div class="section-subheading-carousel-mobile">
                  &nbsp;
                </div>
                <div class="row" style="text-align: left; margin: 0 auto;">
                  <p>
                    DDD is an approach to software development that centers the development on
                    programming a domain model that has a rich understanding of the processes and rules of a domain.
                  </p>
                </div>
              </section>
            </slide>
            <slide style="border: 1px solid lawngreen;">
              <section class="container-fluid about-container-mobile" >
                <div class="row" style="margin: 0 auto;">
                  <img src="../../../assets/images/aboutPage/bytePushersAboutsDesignIcon.svg"
                       style="width: 100px; height: 100px;">
                </div>
                <div class="row"><strong style="color: #62a3d9; font-size: 1.5em; margin: 0 auto;">Behavior-Driven Design (BDD)</strong>
                </div>
                <div class="section-subheading-carousel-mobile">
                  &nbsp;
                </div>
                <div class="row" style="text-align: left; margin: 0 auto;">
                  <p>
                    BDD is a test-first approach that tests the actual behavior of the system from the
                    end users perspective.
                  </p>
                </div>
              </section>
            </slide>
            <slide style="border: 1px solid orange;">
              <section class="container-fluid about-container-mobile" >

                <div class="row" style="margin: 0 auto;">
                  <img src="../../../assets/images/aboutPage/bytePushersAboutsPageCodeIcon.svg"
                       style="width: 100px; height: 100px;">
                </div>
                <div class="row"><strong style="color: #62a3d9; font-size: 1.5em; margin: 0 auto;">Continuous Delivery (CD)</strong>
                </div>
                <div class="section-subheading-carousel-mobile">
                  &nbsp;
                </div>
                <div class="row" style="margin: 0 auto; text-align: left;">
                  <p>
                    CD is a software development discipline where you build software in such a way that the
                    software can be released to production at any time.
                  </p>
                </div>
              </section>
            </slide>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </carousel>
    </section>
    <section class="section-image">
      <img class="full-width" src="../../../assets/images/aboutPage/bytePushersAboutPageSplashScreenBackground.png"
           alt="Office 3">
    </section>
    <section class="gray-background">
      <div class="section">
        <p style="text-align: center;font-size:1.4em;">
          We <strong>create</strong> and <strong>mold</strong> your ideas into something truly special.
        </p>
      </div>
    </section>
    <section class="hidden-mobile hidden-mobile-450 hidden-mobile-768">
      <div class="section-heading">Our Services</div>
      <!--<div class="section-subheading"></div>-->
      <div style="margin-bottom: 3em;">
        <div class="row">
          <div class="col-2">&nbsp;</div>
          <div class="col">
            <div style="padding: 20px;">
              <div>
                <img src="assets/images/servicesPage/bytePushersServicesPageITConsultingIcon.svg" style="height: 50px; width: 50px;">
              </div>
              <div class="service-heading">
                <h2><strong>IT Consulting</strong></h2>
              </div>
              <div class="services-copy">
                <p>Is this specific to web based apps? Or mobile as well? All EDI (X12, ATA Spec 2000)</p>
              </div>
              <div class="services-copy-link">
                <a class="webpage-link" [routerLink]="'/services'" (click)="backToTop()" routerLinkActive="active"><strong>Read More</strong></a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div style="padding: 20px;">
              <div>
                <img src="assets/images/servicesPage/bytePushersServicesPageAppDevIcon.svg" style="height: 50px; width: 50px;">
              </div>
              <div class="service-heading">
                <h2><strong>Custom App Development</strong></h2>
              </div>
              <div class="services-copy">
                <p>Is this specific to web based apps? Or mobile as well? All EDI (X12, ATA Spec 2000)</p>
              </div>
              <div class="services-copy-link">
                <a class="webpage-link" [routerLink]="'/services'" (click)="backToTop()" routerLinkActive="active"><strong>Read More</strong></a>
              </div>
            </div>
          </div>
          <div class="col">
            <div style="padding: 20px;">
              <div>
                <img src="assets/images/servicesPage/bytePushersServicesPageBatchProcessingIcon.svg" style="height: 50px; width: 50px;">
              </div>
              <div class="service-heading">
                <h2><strong>Batch Processing</strong></h2>
              </div>
              <div class="services-copy">
                <p>Is this specific to web based apps? Or mobile as well? All EDI (X12, ATA Spec 2000)</p>
              </div>
              <div class="services-copy-link">
                <a class="webpage-link" [routerLink]="'/services'" (click)="backToTop()" routerLinkActive="active"><strong>Read More</strong></a>
              </div>
            </div>
          </div>
          <div class="col-1">&nbsp;</div>
        </div>
      </div>
    </section>
    <section class="hidden-desktop">
      <carousel class="hidden-desktop" [interval]="false" [noWrap]="true" style="margin-bottom: 2em;">
        <div class="services-carousel">
          <div class="section-heading">Our Services</div>
          <div class="services-carousel">
            <ol class="carousel-indicators">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
            <slide>
              <section class="container-fluid service-container">
                <div >
                  <img src="assets/images/servicesPage/bytePushersServicesPageITConsultingIcon.svg" style="height: 50px; width: 50px;">
                </div>
                <div style="margin: 10px !important;">
                  <h2><strong>IT Consulting</strong></h2>
                </div>
                <div style="margin: 10px !important;">
                  <p>Is this specific to web based apps? Or mobile as well? All EDI (X12, ATA Spec 2000)</p>
                </div>
                <div style="margin: 10px !important;">
                  <a class="webpage-link" [routerLink]="'/services'" (click)="backToTop()" routerLinkActive="active"><strong>Read More</strong></a>
                </div>
              </section>
            </slide>
            <slide active>
              <section class="container-fluid about-container">
                <div >
                  <img src="assets/images/servicesPage/bytePushersServicesPageAppDevIcon.svg" style="height: 50px; width: 50px;">
                </div>
                <div style="margin: 10px !important;">
                  <h2><strong>Custom App Development</strong></h2>
                </div>
                <div style="margin: 10px !important;">
                  <p>Is this specific to web based apps? Or mobile as well? All EDI (X12, ATA Spec 2000)</p>
                </div>
                <div style="margin: 10px !important;">
                  <a class="webpage-link" [routerLink]="'/services'" (click)="backToTop()" routerLinkActive="active"><strong>Read More</strong></a>
                </div>
              </section>
            </slide>
            <slide>
              <section class="container-fluid about-container">
                <div >
                  <img src="assets/images/servicesPage/bytePushersServicesPageDataDrivenIcon.svg" style="height: 50px; width: 50px;">
                </div>
                <div style="margin: 10px !important;">
                  <h2><strong>Data Driven Services</strong></h2>
                </div>
                <div style="margin: 10px !important;">
                  <p>Is this specific to web based apps? Or mobile as well? All EDI (X12, ATA Spec 2000)</p>
                </div>
                <div style="margin: 10px !important;">
                  <a class="webpage-link" [routerLink]="'/services'" (click)="backToTop()" routerLinkActive="active"><strong>Read More</strong></a>
                </div>
              </section>
            </slide>
            <slide>
              <section class="container-fluid about-container">
                <div >
                  <img src="assets/images/servicesPage/bytePushersServicesPageDataMiningIcon.svg" style="height: 50px; width: 50px;">
                </div>
                <div style="margin: 10px !important;">
                  <h2><strong>Data Mining/Aggregation</strong></h2>
                </div>
                <div style="margin: 10px !important;">
                  <p>Is this specific to web based apps? Or mobile as well? All EDI (X12, ATA Spec 2000)</p>
                </div>
                <div style="margin: 10px !important;">
                  <a class="webpage-link" [routerLink]="'/services'" (click)="backToTop()" routerLinkActive="active"><strong>Read More</strong></a>
                </div>
              </section>
            </slide>
            <slide>
              <section class="container-fluid about-container">
                <div >
                  <img src="assets/images/servicesPage/bytePushersServicesPageMobileDevIcon.svg" style="height: 50px; width: 50px;">
                </div>
                <div style="margin: 10px !important;">
                  <h2><strong>Custom Mobile Development</strong></h2>
                </div>
                <div style="margin: 10px !important;">
                  <p>Is this specific to web based apps? Or mobile as well? All EDI (X12, ATA Spec 2000)</p>
                </div>
                <div style="margin: 10px !important;">
                  <a class="webpage-link" [routerLink]="'/services'" (click)="backToTop()" routerLinkActive="active"><strong>Read More</strong></a>
                </div>
              </section>
            </slide>
            <slide>
              <section class="container-fluid about-container">
                <div >
                  <img src="../../../assets/images/servicesPage/bytePushersServicesPageBatchProcessingIcon.svg" style="height: 50px; width: 50px;">
                </div>
                <div style="margin: 10px !important;">
                  <h2><strong>Batch Processing</strong></h2>
                </div>
                <div style="margin: 10px !important;">
                  <p>Is this specific to web based apps? Or mobile as well? All EDI (X12, ATA Spec 2000)</p>
                </div>
                <div style="margin: 10px !important;">
                  <a class="webpage-link" [routerLink]="'/services'" (click)="backToTop()" routerLinkActive="active"><strong>Read More</strong></a>
                </div>
              </section>
            </slide>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </carousel>
    </section>
    <section class=" companies hidden-mobile hidden-mobile-450 hidden-mobile-768">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h2 style="font-size: 24px"><strong>Companies We Keep</strong></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 logoColumn">
            <img src="../../../assets/images/homePage/bytePushersHomePageAviallLogo.svg" style=" padding-bottom: 5%;  height:120px">
          </div>
          <div class="col-sm-4 logoColumn ">
            <img src="../../../assets/images/homePage/bytePushersHomePageGELogo.svg" style="height:100px">
          </div>
          <div class="col-sm-4 logoColumn">
            <img src="../../../assets/images/homePage/bytePushersHomePageTelecomLogo.svg" style="height:100px">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 logoColumn">
            <img src="../../../assets/images/homePage/bytePushersHomePageThomsonReutersLogo.svg" style="height:100px">
          </div>
          <div class="col-sm-4 logoColumn">
            <img src="../../../assets/images/homePage/bytePushersHomePageTilsterLogo.svg" style="height:70px">
          </div>
          <div class="col-sm-4 logoColumn">
            <img src="../../../assets/images/homePage/texas-instruments.svg" style="height:100px">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 logoColumn">
            <img src="../../../assets/images/homePage/bytePushersHomePageVALogo.svg" style="height:60px">
          </div>
          <div class="col-sm-6 logoColumn">
            <img src="../../../assets/images/homePage/bytePushersHomePageZynxHealthLogo.svg" style="height:70px">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 logoColumn">
            <img src="../../../assets/images/homePage/bytePushersHomePageLLNLLogo.svg" style="height:70px">
          </div>
        </div>
      </div>
    </section>
    <section class="companies-mobile hidden-desktop">
        <div class="row">
          <div class="col-md-12">
            <h2 style="font-size: 24px"><strong>Companies We Keep</strong></h2>
          </div>
        </div>
        <div class="row">

          <div class="col-6 logoColumn ">
            <img src="../../../assets/images/homePage/bytePushersHomePageGELogo.svg" style="height:80px">
          </div>
          <div class="col-6 logoColumn">
            <img src="../../../assets/images/homePage/bytePushersHomePageTelecomLogo.svg" style="height:80px">
          </div>

        </div>
        <div class="row">
          <div class="col-12 logoColumn">
            <img src="../../../assets/images/homePage/bytePushersHomePageAviallLogo.svg" style="height:80px">
          </div>
        </div>
        <div class="row">
          <div class="col-6 logoColumn">
            <img src="../../../assets/images/homePage/bytePushersHomePageThomsonReutersLogo.svg" style="height:80px">
          </div>
          <div class="col-6 logoColumn">
            <img src="../../../assets/images/homePage/texas-instruments.svg" style="height:80px">
          </div>
        </div>
        <div class="row">
          <div class="col-12 logoColumn">
            <img src="../../../assets/images/homePage/bytePushersHomePageVALogo.svg" style="height:50px">
          </div>
        </div>
        <div class="row">
          <div class="col-12 logoColumn">
            <img src="../../../assets/images/homePage/bytePushersHomePageTilsterLogo.svg" style="height:50px">
          </div>
        </div>
        <div class="row">
          <div class="col-12 logoColumn">
            <img src="../../../assets/images/homePage/bytePushersHomePageLLNLLogo.svg" style="height:50px">
          </div>
        </div>
        <div class="row">
          <div class="col-12 logoColumn">
            <img src="../../../assets/images/homePage/bytePushersHomePageZynxHealthLogo.svg" style="height:60px">
          </div>
        </div>
    </section>
    <!--<section class="workwithus hidden-mobile hidden-mobile-450 hidden-mobile-768 ">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="headContent">
              <h3>Work With Us</h3>
              <p>We're always looking for amazing people to join our team..</p>
            </div>
            <div class="rightcontent">
              <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or
                web designs. Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                graphic or
                web designs.</p>
              <button type="button" style="margin-top: 1em">Come Work With Us</button>
            </div>
          </div>
        </div>
      </div>
    </section>-->
    <!--<section class="workwithus-mobile hidden-desktop">
      <div class="container">
        <div class="row">
          <div class="col-12 headContent-mobile">
            <h3>Work With Us</h3>
            <p>We're always looking for amazing people to join our team..</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 rightcontent-mobile">
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or
              web designs. Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
              graphic or
              web designs.</p>
            <button type="button" style="margin-top: 1em">Come Work With Us</button>

          </div>
        </div>
      </div>
    </section>-->

    <section class="lets-talk">
      <div class="lets-talk-heading">Like what you see? <br> Let’s talk.</div>
      <a class="topnav-link" [routerLink]="'/contact'" (click)="backToTop()" routerLinkActive="active">Contact Us</a>
    </section>
  </div>
</main>
