<div class="adminContent">
  <div class="container">
    <h1>Quotes</h1>
    <div class="grid">
      <p-table
        #quotesTable
        [columns]="cols"
        [value]="quotesList"
        dataKey="id"
        [rowHover]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 15]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
        responsiveLayout="stack"
        [breakpoint]="'700px'"
        [tableStyle]="{ 'min-width': '20rem' }"
        [globalFilterFields]="['name', 'code', 'category', 'quantity']"
      >
        <ng-template pTemplate="caption">
          <div class="table-header">
            List of Quotes
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="
                  quotesTable.filterGlobal($event.target.value, 'contains')
                "
                placeholder="Global Search"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th
              *ngFor="let col of columns"
              pSortableColumn="{{ col.header }}"
              [width]="col.width"
            >
              {{ col.header }}
              <p-sortIcon field="{{ col.header }}"></p-sortIcon>
            </th>
            <!-- <th>Company Name</th>
            <th>Contact Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
            <th>Platform</th>
            <th>Type</th> -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-quote let-columns="columns">
          <tr>
            <!-- <td *ngFor="let col of columns">
              <span class="p-column-title">{{ col.header }}</span> {{ rowData[col.field] }}
            </td> -->
            <td>
              <span class="p-column-title">Company Name</span
              >{{ quote.company.name }}
            </td>
            <td>
              <span class="p-column-title">Contact Name</span
              >{{ quote.contact.firstName }} {{ quote.contact.lastName }}
            </td>
            <td>
              <span class="p-column-title">Email</span>{{ quote.contact.email }}
            </td>
            <td>
              <span class="p-column-title">Phone</span
              >{{ quote.contact.phone.number }}
            </td>
            <td>
              <span class="p-column-title">Website</span>{{ quote.company.url }}
            </td>
            <td>
              <span class="p-column-title">Platform</span
              >{{ quote.projectPlatform }}
            </td>
            <td>
              <span class="p-column-title">Type</span>{{ quote.projectType }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
