.quotes {
  width: 100%;
  height: 100vh;
  background: #000;
}
.about-container {
  padding: 2.8em;
  text-align: center;
}

.about-container-mobile {
  text-align: center;
  display: inline-block;
  padding: 0;
}

.companies {
  background: #ebebeb;
  padding: 80px 0;
  text-align: center;
  width: 100%;
  color: #5c5c5c;
  text-transform: uppercase;
}

.companies-mobile {
  background: #ebebeb;
  text-align: center;
  width: 100%;
  height: 800px;
  color: #5c5c5c;
  text-transform: uppercase;
}

::ng-deep .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

::ng-deep .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

::ng-deep .carousel-control-next-icon:focus {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

::ng-deep .carousel-control-prev-icon:focus {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

::ng-deep .carousel-indicators li {
  background-color: rgba(72, 55, 55, 0.79);
}

.overview-title {
  color: #62a3d9;
  font-size: 1.5em;
  margin-bottom: 1em !important;
}

.icon-text {
  padding-top: 10%;
  font-size: 24px;
}

.icon-text-mobile {
  padding-top: 10%;
  font-size: 14px;
  filter: opacity(50%) !important;
}

.about-container {
  text-align: center;
  padding: 0em 2.5em 0em 2.5em;
}

.methodology-carousel {
  height: 500px !important;
}

.services-carousel {
  height: 370px !important;
}

::ng-deep .carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #ffffff !important;
  text-decoration: none;
  outline: 0;
  opacity: 0;
}

::ng-deep .carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #ffffff !important;
  text-decoration: none;
  outline: 0;
  opacity: 0;
}

::ng-deep .carousel-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

::ng-deep .left.carousel-control.carousel-control-prev.disabled {
  background-color: white;
  opacity: inherit;
}

::ng-deep .left.carousel-control.carousel-control-prev.disabled span {
  visibility: hidden;
}

::ng-deep .right.carousel-control.carousel-control-next.disabled {
  background-color: white;
  opacity: inherit;
}

::ng-deep .right.carousel-control.carousel-control-next.disabled span {
  visibility: hidden;
}
.details {
  .block {
    background: #ececec;
    padding: 15px;
    border-radius: 10px;
    margin: 0 0 10px 0;
    ul {
      li {
        display: flex;
        margin-bottom: 10px;
        font-size: 14px;

        .lable {
          width: 250px;
          text-align: right;
          font-weight: 600;
        }
        span {
          margin: 0px 5px;
        }
      }
    }
  }
}
