<main class="page">
  <header class="hero-fixed hero-home" id="hero"
          style="background: url('../../../assets/images/aboutPage/bytePushersAboutPageSplashScreenBackground.png') center no-repeat; background-size: cover;">
    <div class="video-overlay" style="display: none;"></div>
    <div class="home-hero-text-container">
      <div class="container fade-in-first">
        <div class="home-hero-text">
          The Byte Pushers team will help you <strong>create something special</strong>.
        </div>
      </div>
    </div>
    <a class="icon-down-open-big hero-arrow" pageScroll pageScrollOffset="80" href="#top-section">
      <img alt="caret" src="assets/images/caret.svg" style="width: 50px; height: 50px">
    </a>
  </header>

  <div class=" main-content-container"  id="top-section">

    <section class="gray-background">
      <div class="container-fluid section-content">
        <div class="row">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id establishedYear laborum.</p></div>
      </div>
    </section>
    <div class="hidden-mobile hidden-mobile-450 hidden-mobile-768">
      <section class="container-fluid about-container">

        <div class="row">
          <img src="../../../assets/images/aboutPage/bytePushersAboutsDesignIcon.svg"
               style="width: 200px; height: 200px;">
        </div>
        <div class="row"><strong style="color: #62a3d9; font-size: 1.5em;">Ideation & Planning</strong></div>
        <div class="section-subheading" style=" margin-top: 2%; margin-bottom: 2%;font-size: .8em;">Lorem ipsum dolor
          sit
          amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
          viverra ipsum.
        </div>
        <div class="row" style="text-align: left">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
            viverra ipsum. Duis ultricies posuere leo eget rhoncus. Sed ornare ligula non egestas efficitur. Nam
            eleifend establishedYear vehicula aliquam accumsan. Vivamus tincidunt risus sem, sit amet eleifend lacus
            bibendum
            eu. Pellentesque et posuere diam, ut porttitor augue.</p>
        </div>
        <div class="row">
          <ul style="margin-top: 2%; margin-bottom: 2%">
            <li style="text-decoration: underline"><strong>lorem ipsum</strong></li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
          </ul>
        </div>


      </section>
      <section class="container-fluid about-container">

        <div class="row">
          <img src="../../../assets/images/aboutPage/bytePushersAboutsDesignIcon.svg"
               style="width: 200px; height: 200px;">
        </div>
        <div class="row"><strong style="color: #62a3d9; font-size: 1.5em;">Process & Design</strong></div>
        <div class="section-subheading" style=" margin-top: 2%; margin-bottom: 2%;font-size: .8em;">Lorem ipsum dolor
          sit
          amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
          viverra ipsum.
        </div>
        <div class="row" style="text-align: left">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
            viverra ipsum. Duis ultricies posuere leo eget rhoncus. Sed ornare ligula non egestas efficitur. Nam
            eleifend establishedYear vehicula aliquam accumsan. Vivamus tincidunt risus sem, sit amet eleifend lacus
            bibendum
            eu. Pellentesque et posuere diam, ut porttitor augue.</p>
        </div>
        <div class="row">
          <ul style="margin-top: 2%; margin-bottom: 2%">
            <li style="text-decoration: underline"><strong>lorem ipsum</strong></li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
          </ul>
        </div>

      </section>
      <section class="container-fluid about-container">

        <div class="row">
          <img src="../../../assets/images/aboutPage/bytePushersAboutsDesignIcon.svg"
               style="width: 200px; height: 200px;">
        </div>
        <div class="row"><strong style="color: #62a3d9; font-size: 1.5em;">Implementation</strong></div>
        <div class="section-subheading" style=" margin-top: 2%; margin-bottom: 2%;font-size: .8em;">Lorem ipsum dolor
          sit
          amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
          viverra ipsum.
        </div>
        <div class="row" style="text-align: left">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
            viverra ipsum. Duis ultricies posuere leo eget rhoncus. Sed ornare ligula non egestas efficitur. Nam
            eleifend establishedYear vehicula aliquam accumsan. Vivamus tincidunt risus sem, sit amet eleifend lacus
            bibendum
            eu. Pellentesque et posuere diam, ut porttitor augue.</p>
        </div>
        <div class="row">
          <ul style="margin-top: 2%; margin-bottom: 2%">
            <li style="text-decoration: underline"><strong>lorem ipsum</strong></li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
          </ul>
        </div>


      </section>
    </div>
    <carousel class="hidden-desktop" [interval]="false" [noWrap]="true" [singleSlideOffset]="true">
      <div class="about-carousel">
        <div class="about-carousel">
      <ol class="carousel-indicators">
        <li data-slide-to="0"></li>
        <li data-slide-to="1"></li>
        <li data-slide-to="2"></li>
      </ol>
      <slide>
        <section class="container-fluid about-container">

          <div class="row" style="margin: 0 auto;">
            <img src="../../../assets/images/aboutPage/bytePushersAboutsPageIdeationIcon.svg"
                 style="width: 200px; height: 200px;">
          </div>
          <div class="row" style="margin: 0 auto;"><strong style="color: #62a3d9; font-size: 1.5em;">Ideation &
            Planning</strong></div>
          <div class="section-subheading" style=" margin-top: 2%; margin-bottom: 2%;font-size: .8em;">Lorem ipsum dolor
            sit
            amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
            viverra ipsum.
          </div>
          <div class="row" style="text-align: left; margin: 0 auto;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
              viverra ipsum. Duis ultricies posuere leo eget rhoncus. Sed ornare ligula non egestas efficitur. Nam
              eleifend establishedYear vehicula aliquam accumsan. Vivamus tincidunt risus sem, sit amet eleifend lacus
              bibendum
              eu. Pellentesque et posuere diam, ut porttitor augue.</p>
          </div>
          <div class="row" style="margin: 0 auto!important;">
            <ul style="margin-top: 2%; margin-bottom: 2%">
              <li style="text-decoration: underline"><strong>lorem ipsum</strong></li>
              <li>lorem ipsum</li>
              <li>lorem ipsum</li>
              <li>lorem ipsum</li>
              <li>lorem ipsum</li>
              <li>lorem ipsum</li>
            </ul>
          </div>


        </section>
      </slide>
      <slide>
        <section class="container-fluid about-container">

          <div class="row" style="margin: 0 auto;">
            <img src="../../../assets/images/aboutPage/bytePushersAboutsDesignIcon.svg"
                 style="width: 200px; height: 200px;">
          </div>
          <div class="row"><strong style="color: #62a3d9; font-size: 1.5em; margin: 0 auto;">Process & Design</strong>
          </div>
          <div class="section-subheading" style=" margin-top: 2%; margin-bottom: 2%;font-size: .8em;">Lorem ipsum dolor
            sit
            amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
            viverra ipsum.
          </div>
          <div class="row" style="text-align: left; margin: 0 auto;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
              viverra ipsum. Duis ultricies posuere leo eget rhoncus. Sed ornare ligula non egestas efficitur. Nam
              eleifend establishedYear vehicula aliquam accumsan. Vivamus tincidunt risus sem, sit amet eleifend lacus
              bibendum
              eu. Pellentesque et posuere diam, ut porttitor augue.</p>
          </div>
          <div class="row" style="margin: 0 auto;">
            <ul style="margin-top: 2%; margin-bottom: 2%">
              <li style="text-decoration: underline"><strong>lorem ipsum</strong></li>
              <li>lorem ipsum</li>
              <li>lorem ipsum</li>
              <li>lorem ipsum</li>
              <li>lorem ipsum</li>
              <li>lorem ipsum</li>
            </ul>
          </div>

        </section>
      </slide>
      <slide>
        <section class="container-fluid about-container">

          <div class="row" style="margin: 0 auto;">
            <img src="../../../assets/images/aboutPage/bytePushersAboutsPageCodeIcon.svg"
                 style="width: 200px; height: 200px;">
          </div>
          <div class="row"><strong style="color: #62a3d9; font-size: 1.5em; margin: 0 auto;">Implementation</strong>
          </div>
          <div class="section-subheading" style=" margin-top: 2%; margin-bottom: 2%;font-size: .8em;">Lorem ipsum dolor
            sit
            amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
            viverra ipsum.
          </div>
          <div class="row" style="margin: 0 auto; text-align: left;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id efficitur nulla, dictum
              viverra ipsum. Duis ultricies posuere leo eget rhoncus. Sed ornare ligula non egestas efficitur. Nam
              eleifend establishedYear vehicula aliquam accumsan. Vivamus tincidunt risus sem, sit amet eleifend lacus
              bibendum
              eu. Pellentesque et posuere diam, ut porttitor augue.</p>
          </div>
          <div class="row" style="margin: 0 auto;">
            <ul style="margin-top: 2%; margin-bottom: 2%;">
              <li style="text-decoration: underline"><strong>lorem ipsum</strong></li>
              <li>lorem ipsum</li>
              <li>lorem ipsum</li>
              <li>lorem ipsum</li>
              <li>lorem ipsum</li>
              <li>lorem ipsum</li>
            </ul>
          </div>


        </section>
      </slide>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
        </div>
      </div>
    </carousel>
    <section class="section-image">
      <img class="full-width" src="../../../assets/images/aboutPage/bytePushersAboutUsDivImage.jpg"
           alt="Office 3">
    </section>
    <section class="gray-background">
      <div class="container-fluid section-content">
        <div class="row">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id establishedYear laborum.</p></div>
      </div>
    </section>
    <section class="lets-talk-about">
      <div class="lets-talk-heading">Like what you see? <br> Let’s talk.</div>
      <a class="lets-talk-button" href="http://bytepushers.com/contact">Contact Us</a>
    </section>
  </div>
</main>

