<div class="ctaForm">
      <form [formGroup]="ctaForm" (ngSubmit)="onCTASubmit()" novalidate>
        <div class="groupControls">
            <app-bp-input [label]="'Name'" [placeHolder]="'Jhon Smit'" [type]="'text'" [formControl]="ctaForm?.controls['ctaName']" />
            <app-bp-input [label]="'Email'" [placeHolder]="'jhon.smit@test.com'" [type]="'email'" [formControl]="ctaForm?.controls['ctaEmail']" />
            
            <div class="formControl consent flex items-start">
                <label class="chkBoxContainer"  for="consent">
                    <input type="checkbox" name="consent" id="consent" formControlName="ctaConsent">
                    <span class="checkmark"></span>
                </label>
                <label class="consentLabel " for="consent">
                    <h4>Please Provide your consent.</h4>
                    <p class="disclimer">
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.Lorem Ipsum has been the industry's standard dummy text
                        including versions of Lorem Ipsum. Lorem Ipsum has been the industry's
                        standard dummy text including versions of Lorem Ipsum.
                    </p>
                </label>
            </div>
            </div>
            <div class="actions">
                <!-- <button type="reset" class="buttonPrimaryOutline" (click)="cancel()">cancel</button> -->
                <bp-button type="reset" title="Cancel" uiType="primary outline" (onClick)="cancel()" [icon]="closeIcon" iconPosition="left" />
                <bp-button type="submit" title="Submit" uiType="primary" [disabled]="ctaForm.invalid" [icon]="saveIcon" iconPosition="right"/>
            </div>
    </form>
</div>