
  <div class="container-fluid footer">
    <div class="row">
      <div class="col-sm-4 footer-link">
        <ul>
          <li><h1>Contact Us</h1></li>
          <li>
            <h3><a href="mailto:info@bytepushers.software">info@bytepushers.software</a></h3>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 footer-link">
        <ul>
          <li><h1>Our Recent Projects</h1></li>
          <li><h3><a href="{{chucksPick3Url}}">www.chuckspick3.com</a></h3></li>
        </ul>
      </div>
      <div class="col-sm-4 footer-link">
        <ul>
          <li><a routerLink="/contact" (click)="scrollToService.toTopOfPage()"><h1>Request A Quote</h1></a></li>
        </ul>
      </div>
    </div>
    <div class="row copyright">
      <div class="col-12">
        <p class="copyright"> Copyright &#169; 2020 BytePushers Inc.</p>
      </div>
    </div>
  </div>

