<section class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm" style="background-color: pink; height: 120px;">
      </div>
      <div class="col-sm-3 footer-links" style="background-color: red; height: 120px;">

      </div>
      <div class="col-sm-3 footer-contact" style="background-color: blue; height: 120px;">
        <h1>Explore Our Site</h1>
      </div>
      <div class="col-sm-3 footer-quote" style="background-color: green; height: 120px;">

      </div>
      <div class="col-sm" style="background-color: yellow; height: 120px;">

      </div>
    </div>
  </div>

</section>
