<div class="container-fluid footer">
  <div class="row">
    <div class="col-sm-4 footer-link">
      <ul>
        <li><h1>Contact Us</h1></li>
        <li>
          <h3>
            <a href="mailto:info@bytepushers.software"
              >info@bytepushers.software</a
            >
          </h3>
        </li>
      </ul>
    </div>
    <div class="col-sm-4 footer-link">
      <ul>
        <li><h1>Our Recent Projects</h1></li>
        <li>
          <h3><a href="{{ chucksPick3Url }}">www.chuckspick3.com</a></h3>
        </li>
      </ul>
    </div>
    <div class="col-sm-4 footer-link" *ngIf="!isUserLoggedIn">
      <ul>
        <li>
          <a routerLink="/contact" (click)="scrollToService.toTopOfPage()"
            ><h1>Request A Quote</h1></a
          >
        </li>
      </ul>
    </div>
    <div class="col-sm-12">
      <ul class="socialMediaLinks">
        <li>
          <a
            href="https://facebook.com/bytepushersinc"
            target="_blank"
            title="Facebook"
            rel="noopener noreferrer"
          >
            <i class="pi pi-facebook"></i>
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com/BytePushersInc"
            target="_blank"
            title="Twitter"
            rel="noopener noreferrer"
          >
            <i class="pi pi-twitter"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/bytepushersinc/"
            target="_blank"
            title="Instagram"
            rel="noopener noreferrer"
          >
            <i class="pi pi-instagram"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/bytepushersinc/"
            target="_blank"
            title="LinkedIn"
            rel="noopener noreferrer"
          >
            <i class="pi pi-linkedin"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/@bytepushersinc"
            target="_blank"
            title="Youtube"
            rel="noopener noreferrer"
          >
            <i class="pi pi-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row copyright">
    <div class="col-12">
      <p class="copyright">
        Copyright &#169; {{ currentYearLong() }} BytePushers Inc.
      </p>
    </div>
  </div>
</div>
