


::ng-deep mat-card {
  padding: 5em !important;
  text-align: center;
}


::ng-deep .overlay-btn {
  width: 60%;
  background-color: white;
  border: solid 2px #3466aa;
  align-content: center;
  margin: 0 auto;
  color: #3466aa;
}

.overlay-box {
  background-color: #fff;
  text-align: center;
  height: 200px;
  width: 270px;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


