<section class="footer">
  <div class="container-fluid hidden-mobile hidden-mobile-450 hidden-mobile-768">
    <div class="row">
      <div class="col-sm-2" style=" height: 120px;">
      </div>
      <div class="col-sm-4 footer-links" style=" height: 120px;">

        <ul>
          <li><h1>Contact Us</h1></li>
          <li>
            <h3><a href="mailto:info@bytepushers.software">info@bytepushers.software</a></h3>
          </li>
        </ul>
    <ul>
      <li><h1>Our Recent Projects</h1></li>
      <li><h3><a href="https://www.chuckspick3.com">www.chuckspick3.com</a></h3></li>
    </ul>

      </div>
      <div class="col-sm-4 footer-quote" style=" height: 120px;">
        <ul>
          <li><h1>Let's Work Together!</h1></li>
          <li>
            <a class="lets-talk-button" [routerLink]="'/contact'" (click)="backToTop()" routerLinkActive="active">Request A Quote</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2" style=" height: 120px;">

      </div>
    </div>
  </div>

  <div class="container-fluid hidden-desktop">
    <div class="row">
      <div class="col-sm-4 mobile-footer-links" style=" height: 120px;">

        <ul>
          <li><h1 class="mobile">Contact Us</h1></li>
          <li>
            <h3 ><a href="mailto:info@bytepushers.software" class="mobile">info@bytepushers.software</a></h3>
          </li>
        </ul>
        <ul>
          <li><h1 class="mobile">Our Recent Projects</h1></li>
          <li><h3><a href="https://www.chuckspick3.com" class="mobile">www.chuckspick3.com</a></h3></li>
        </ul>

      </div>
      <div class="col-sm-4 footer-quote-mobile" style=" height: 120px;">
        <ul>
          <li><h1 class="mobile">Let's Work Together!</h1></li>
          <li style="margin-top: 5%">
            <a class="lets-talk-button" [routerLink]="'/contact'" (click)="backToTop()" routerLinkActive="active" style="width: 100%">Request A Quote</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="row copyright hidden-mobile hidden-mobile-450 hidden-mobile-768">
    <p class="copyright"> Copyright &#169; 2020 BytePushers Inc.</p>
  </div>
</section>
