.formControl {
    width: 100%;
    margin:0 0 15px 0;

    input {
        border: solid 1px gray;
        width: 100%;
        border-radius: 5px;
        padding: 4px 5px;
        margin-bottom: 8px;

        &:disabled{
            opacity: 0.4;
        }
    }

    
}

input {
    border: solid 1px gray;
    width: 100%;
    border-radius: 5px;
    padding: 4px 5px;
}