.form-control {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
}

input {
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin-bottom: 30px;
}

input.ng-invalid.ng-touched {
    border-color: #721c24;
}

.error {
    color: #721c24;
    font-size: 12px;
    position: absolute;
    bottom: 12px;
}