<div class="formControl">
    <input type="{{type}}" 
    [formControl]="control" 
    placeholder="{{placeHolder}}" />

@if(control?.invalid && (control?.dirty || control?.touched)){
    @if (control.errors?.['required']){
    <div  class="errorClr">{{label}} is required.</div>
    }
    @if (control.errors?.['minlength']){
    <div  class="errorClr">{{label}} must be atleast {{minlength}} letters.</div>
    }
    @if (control.errors?.['email']){
    <div  class="errorClr">{{label}} is not valid.</div>
    }
}
</div>